# Lecture 21
## Tuesday, November 13th 2018
### Joins with `SQLite`, `pandas`

## Starting Up
You can connect to the saved database from last time if you want.  Alternatively, for extra practice, you can just recreate it from the datasets provided in the `.txt` files.  That's what I'll do.

In [1]:
import sqlite3
import numpy as np
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

db = sqlite3.connect('L21DB_demo.sqlite')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS candidates")
cursor.execute("DROP TABLE IF EXISTS contributors")
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_init TEXT, 
               party TEXT NOT NULL)''')

db.commit() # Commit changes to the database

cursor.execute('''CREATE TABLE contributors (
          id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
          last_name TEXT, 
          first_name TEXT, 
          middle_name TEXT, 
          street_1 TEXT, 
          street_2 TEXT, 
          city TEXT, 
          state TEXT, 
          zip TEXT, 
          amount REAL, 
          date DATETIME, 
          candidate_id INTEGER NOT NULL, 
          FOREIGN KEY(candidate_id) REFERENCES candidates(id))''')

db.commit()

with open ("candidates.txt") as candidates:
    next(candidates) # jump over the header
    for line in candidates.readlines():
        cid, first_name, last_name, middle_name, party = line.strip().split('|')
        vals_to_insert = (int(cid), first_name, last_name, middle_name, party)
        cursor.execute('''INSERT INTO candidates 
                  (id, first_name, last_name, middle_init, party)
                  VALUES (?, ?, ?, ?, ?)''', vals_to_insert)

with open ("contributors.txt") as contributors:
    next(contributors)
    for line in contributors.readlines():
        cid, last_name, first_name, middle_name, street_1, street_2, \
            city, state, zip_code, amount, date, candidate_id = line.strip().split('|')
        vals_to_insert = (last_name, first_name, middle_name, street_1, street_2, 
                          city, state, int(zip_code), amount, date, candidate_id)
        cursor.execute('''INSERT INTO contributors (last_name, first_name, middle_name, 
                           street_1, street_2, city, state, zip, amount, date, candidate_id) 
                           VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', vals_to_insert)

candidate_cols = [col[1] for col in cursor.execute("PRAGMA table_info(candidates)")]
contributor_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]

def viz_tables(cols, query):
    q = cursor.execute(query).fetchall()
    framelist = dict()
    for i, col_name in enumerate(cols):
        framelist[col_name] = [col[i] for col in q]
    return pd.DataFrame.from_dict(framelist)

## Recap
Last time, you played with a bunch of `SQLite` commands to query and update the tables in the database.

One thing we didn't get to was how to query the contributors table based off of a query in the candidates table.  For example, suppose you want to query which contributors donated to Obama. You could use a nested `SELECT` statement to accomplish that.

In [2]:
query = '''SELECT * FROM contributors WHERE candidate_id = (SELECT id from candidates WHERE last_name = "Obama")'''
viz_tables(contributor_cols, query)

     amount  candidate_id             city        date first_name  id last_name middle_name state                     street_1 street_2        zip
0     50.00            20       Dana Point  2007-07-30      Steve  26   Buckler                CA              24351 Armada Dr           926291306
1     25.00            20       Dana Point  2007-08-16      Steve  27   Buckler                CA              24351 Armada Dr           926291306
2    100.00            20          FAIRFAX  2007-09-19      Bruce  28  Buckheit                VA                8904 KAREN DR           220312731
3   2300.00            20        Park City  2007-08-14      Linda  29    Buckel                UT                PO Box 683130           840683130
4  -2300.00            20        Park City  2007-08-14      Linda  30    Buckel                UT                PO Box 683130           840683130
5   4600.00            20        Park City  2007-08-14      Linda  31    Buckel                UT                PO Box 683130           840683130
6    100.00            20      Kansas City  2007-09-25     Thomas  32      Buck                MO          4206 Terrace Street               64111
7    200.00            20       Northfield  2007-09-12        Jay  33      Buck          K.    IL  1855 Old Willow Rd Unit 322           600932918
8   2300.00            20           Camden  2007-09-30     Blaine  34      Buck           M    ME                 45 Eaton Ave            48431752
9     50.00            20      North Miami  2007-09-13    Barbara  35      Buck                FL             1780 NE 138th St           331811316
10    50.00            20      North Miami  2007-07-19    Barbara  36      Buck                FL             1780 NE 138th St           331811316
11   460.80            20  San Luis Obispo  2007-07-18     Mark M  37   Buchman                CA              2530 Lawton Ave           934015622
12   100.00            20      Los Angeles  2007-07-10        Ida  38    Bucher           M    CA             1400 Warnall Ave           900245333
13    50.00            20         Bethesda  2007-09-30  Elizabeth  39  Buchanek                MD             7917 Kentbury Dr           208144615
14   500.00            20       Boca Raton  2007-09-24       John  40  Buchanan                FL              2025 NW 29th Rd           334316303
15  -500.00            20       Boca Raton  2007-09-24       John  41  Buchanan                FL              2025 NW 29th Rd           334316303
16   500.00            20       Boca Raton  2007-09-24       John  42  Buchanan                FL              2025 NW 29th Rd           334316303
17   700.00            20       Boca Raton  2007-08-28       John  43  Buchanan                FL              2025 NW 29th Rd           334316303
18  -700.00            20       Boca Raton  2007-08-28       John  44  Buchanan                FL              2025 NW 29th Rd           334316303
19  1000.00            20       Boca Raton  2007-08-28       John  45  Buchanan                FL              2025 NW 29th Rd           334316303
20  1300.00            20       Boca Raton  2007-08-09       John  46  Buchanan                FL              2025 NW 29th Rd           334316303
21   200.00            20       Boca Raton  2007-08-14       John  47  Buchanan                FL              2025 NW 29th Rd           334316303
22   500.00            20       Boca Raton  2007-07-25       John  48  Buchanan                FL              2025 NW 29th Rd           334316303
23   200.09            20       Washington  2007-09-23       John  49  Buchanan                DC              4635 49th St NW           200164320
24    25.00            20         La Verne  2007-07-26       Ryan  50  Harrison                CA                  2247 3rd St           917504918

# Joins
The last example involved querying data from multiple tables.

In particular, we combined columns from the two related tables (related through the `FOREIGN KEY`).

This leads to the idea of *joining* multiple tables together.  `SQL` has a set of commands to handle different types of joins.  `SQLite` does not support the full suite of join commands offered by `SQL` but you should still be able to get the main ideas from the limited command set.

We'll begin with the `INNER JOIN`.

## INNER JOIN
The idea here is that you will combine the tables if the values of certain columns are the same between the two tables.  In our example, we will join the two tables based on the candidate id.  The result of the `INNER JOIN` will be a new table consisting of the columns we requested and containing the common data.  Since we are joining based off of the candidate id, we will not be excluding any rows.

### Example

Here are two tables.  Table A has the form:

| nA   | attr  | idA |
| :::: | ::::: | ::: |
| s1   | 23    | 0   |
| s2   | 7     | 2   |

and table B has the form:

| nB   | attr  | idB |
| :::: | ::::: | ::: |
| t1   | 60    | 0   |
| t2   | 14    | 7   |
| t3   | 22    | 2   |

Table A is associated with Table B through a foreign key on the id column.

If we join the two tables by comparing the id columns and selecting the nA, nB, and attr columns then we'll get 

| nA   | A.attr  | nB  | B.attr |
| :::: | ::::::: | ::: | :::::: |
| s1   | 23      | t1  | 60     |
| s2   | 7       | t3  | 22     |


The `SQLite` code to do this join would be 

```SQL
SELECT nA, A.attr, nB, B.attr FROM A INNER JOIN B ON B.idB = A.idA
```

Notice that the second row in table B is gone because the id values are not the same.

### Thoughts
What is `SQL` doing with this operation?  It may help to visualize this with a Venn diagram.  Table A has rows with values corresponding to the `idA` attribute.  Column B has rows with values corresponding to the `idB` attribute.  The `INNER JOIN` will combine the two tables such that rows with common entries in the `id` attributes are included.  We essentially have the following Venn diagram.

![](figs/inner_join.png)

## `LEFT JOIN` or `LEFT OUTER JOIN`
There are many ways to combine two tables.  We just explored one possibility in which we combined the tables based upon the intersection of the two tables (the `INNER JOIN`).

Now we'll talk about the `LEFT JOIN` or `LEFT OUTER JOIN`.

In words, the `LEFT JOIN` is combining the tables based upon what is in the intersection of the two tables *and* what is in the "reference" table.

We can consider our toy example in two guises:

#### Example A
Let's do a `LEFT JOIN` of table B from table A.  That is, we'd like to make a new table by putting table B into table A.  In this case, we'll consider table A our "reference" table.  We're comparing by the `id` column again.  We know that these two tables share ids 0 and 2 and table A doesn't have anything else in it.  The resulting table is:

| nA   | A.attr  | nB  | B.attr |
| :::: | ::::::: | ::: | :::::: |
| s1   | 23      | t1  | 60     |
| s2   | 7       | t3  | 22     |

That's not very exciting.  It's the same result as from the `INNER JOIN`.  We can do another example that may be more enlightening.

#### Example B
Let's do a `LEFT JOIN` of table A from table B.  That is, we'd like to make a new table by putting table A into table B.  In this case, we'll consider table B our "reference" table.  Again, we use the `id` column from comparison.  We know that these two tables share ids 0 and 2.  This time, table B also contains the id 7, which is not shared by table A.  The resulting table is:

| nA   | A.attr  | nB  | B.attr |
| :::: | ::::::: | ::: | :::::: |
| s1   | 23      | t1  | 60     |
| None | NaN     | t2  | 14     |
| s2   | 7       | t3  | 22     |

Notice that `SQLite` filed in the missing entries for us.  This is necessary for completion of the requested join.

The `SQLite` commands to accomplish all of this are:

```SQL
SELECT nA, A.attr, nB, B.attr FROM A LEFT JOIN B ON B.idB = A.idA
```

and

```SQL
SELECT nA, A.attr, nB, B.attr FROM B LEFT JOIN A ON A.idA = B.idB
```

Here is a visualization using Venn diagrams of the `LEFT JOIN`.

![](figs/left_join.png)

---

# `pandas`

We've been working with databases for the last few lectures and learning `SQLite` commands to work with and manipulate the databases.  There is a `Python` package called `pandas` that provides broad support for data structures.  It can be used to interact with relationsional databases through its own methods and even through `SQL` commands.

In the last part of this lecture, you will get to redo a bunch of the database exercises using `pandas`.

We won't be able to cover `pandas` from the ground up, but it's a well-documented library and is fairly easy to get up and running.  Here's the website:  [`pandas`](http://pandas.pydata.org/).

## Reading a datafile into `pandas`

In [3]:
# Using pandas naming convention
dfcand = pd.read_csv("candidates.txt", sep="|")
dfcand

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
1   36       Samuel   Brownback         NaN     R
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
7   16         Mike    Huckabee         NaN     R
8   30       Duncan      Hunter         NaN     R
9   31       Dennis    Kucinich         NaN     D
10  37         John      McCain         NaN     R
11  20       Barack       Obama         NaN     D
12  32          Ron        Paul         NaN     R
13  29         Bill  Richardson         NaN     D
14  35         Mitt      Romney         NaN     R
15  38          Tom    Tancredo         NaN     R
16  41         Fred    Thompson          D.     R

In [4]:
dfcontr = pd.read_csv("contributors.txt", sep="|")
dfcontr

,id,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
0,NaN,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16
1,NaN,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16
2,NaN,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,50.0,2007-06-18,16
3,NaN,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,100.0,2007-06-21,16
4,NaN,Akin,Charles,NaN,10187 Sugar Creek Road,NaN,Bentonville,AR,72712,100.0,2007-06-16,16
5,NaN,Akin,Mike,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,1500.0,2007-05-18,16
6,NaN,Akin,Rebecca,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,500.0,2007-05-18,16
7,NaN,Aldridge,Brittni,NaN,"808 Capitol Square Place, SW",NaN,Washington,DC,20024,250.0,2007-06-06,16
8,NaN,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1000.0,2007-06-11,16
9,NaN,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1300.0,2007-06-29,16
10,NaN,Allison,John W.,NaN,P.O. Box 1089,NaN,Conway,AR,72033,1000.0,2007-05-18,16
11,NaN,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,1000.0,2007-04-25,16
12,NaN,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,200.0,2007-06-12,16
13,NaN,Altes,R.D.,NaN,8600 Moody Road,NaN,Fort Smith,AR,72903,2300.0,2007-06-21,16
14,NaN,Andres,Dale,NaN,1160 Glen Oaks Drive,NaN,West Des Moines,IA,50266,250.0,2007-06-06,16
15,NaN,Anthony,John,NaN,211 Long Island Drive,NaN,Hot Springs,AR,71913,2300.0,2007-06-12,16
16,NaN,Arbogast,Robert,NaN,12900 State Route 56 SE,NaN,Mount Sterling,OH,43143,500.0,2007-04-08,16
17,NaN,Arbogast,Robert,NaN,12900 State Route 56 SE,NaN,Mount Sterling,OH,43143,100.0,2007-06-22,16
18,NaN,Ardle,William,NaN,412 Dakota Avenue,NaN,Springfield,OH,45504,50.0,2007-06-28,16
19,NaN,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.0,2007-05-18,16
20,NaN,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.0,2007-06-27,16
21,NaN,Baker,David,NaN,2550 Adamsbrooke Drive,NaN,Conway,AR,72034,2300.0,2007-04-11,16
22,NaN,Bancroft,David,NaN,2934 Broderick Street,NaN,San Francisco,CA,94123,250.0,2007-04-24,16
23,NaN,Banks,Charles,NaN,P.O. Box 251310,NaN,Little Rock,AR,72225,1000.0,2007-05-14,16
24,NaN,Barbee,John,NaN,516 Kellyridge Drive,NaN,Apex,NC,27502,500.0,2007-05-23,16
25,NaN,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,50.0,2007-07-30,20
26,NaN,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,25.0,2007-08-16,20
27,NaN,Buckheit,Bruce,NaN,8904 KAREN DR,NaN,FAIRFAX,VA,220312731,100.0,2007-09-19,20
28,NaN,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,2300.0,2007-08-14,20
29,NaN,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,-2300.0,2007-08-14,20
...,...,...,...,...,...,...,...,...,...,...,...,...
145,NaN,ABDELLA,THOMAS,M.,4231 MONUMENT WALL WAY #340,NaN,FAIRFAX,VA,220308440,50.0,2007-09-30,35
146,NaN,ABBOTT,WELDON,S.,777 EAST SOUTH TEMPLE 4E,NaN,SALT LAKE CITY,UT,841021269,100.0,2007-09-29,35
147,NaN,ABBOTT,WELDON,S.,777 EAST SOUTH TEMPLE 4E,NaN,SALT LAKE CITY,UT,841021269,50.0,2007-08-09,35
148,NaN,ABBOTT,GERALD,F.,389 BENEFIT STREET,NaN,PROVIDENCE,RI,29032946,100.0,2007-09-15,35
149,NaN,ABBOTT,GERALD,F.,389 BENEFIT STREET,NaN,PROVIDENCE,RI,29032946,100.0,2007-08-15,35
150,NaN,ABEDIN,ZAINUL,NaN,715 N. CENTRAL AVENUE,SUITE 212,GLENDALE,CA,912031164,500.0,2008-01-21,37
151,NaN,ABBOTT,SYBIL,F.,446 GAMES DRIVE,NaN,RENO,NV,895093326,75.0,2008-01-08,37
152,NaN,ABBOTT,SYBIL,F.,446 GAMES DRIVE,NaN,RENO,NV,895093326,50.0,2008-01-08,37
153,NaN,ABBOTT,RONALD,LEANDER,5453 HAWTHORNE STREET,NaN,MONTCLAIR,CA,917632551,200.0,2008-01-31,37
154,NaN,ABBOTT,RONALD,LEANDER,5453 HAWTHORNE STREET,NaN,MONTCLAIR,CA,917632551,100.0,2008-01-08,37
155,NaN,ABBOTT,ROBERT,A.,3061 LOREE ROAD,NaN,DECKERVILLE,MI,484279763,500.0,2008-01-21,37
156,NaN,ABBOTT,MIKE,E.,4516 OSPREY LNDG,NaN,NICEVILLE,FL,325786810,1000.0,2008-01-15,37
157,NaN,ABBOT,DAVID,M.,56 SALEM STREET,NaN,ANDOVER,MA,18102114,200.0,2008-01-21,37
158,NaN,ABBO,PAULINE,MORENCY,10720 JACOB LANE,NaN,WHITE LAKE,MI,483862274,35.0,2008-01-07,37
159,NaN,ABATE,MARIA,ELENA,1291 NIGHTINGALE AVENUE,NaN,MIAMI SPRINGS,FL,331663832,2600.0,2008-01-25,37
160,NaN,ABAIR,PETER,NaN,40 EVANS STREET,NaN,WATERTOWN,MA,24722150,25.0,2008-01-09,37
161,NaN,ABACHERLI,SHIRLEY,M.,29875 NEWPORT ROAD,NaN,MENIFEE,CA,925849524,150.0,2008-01-28,37
162,NaN,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,300.0,2008-01-30,37
163,NaN,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,410.0,2008-01-15,37
164,NaN,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,500.0,2008-01-09,37
165,NaN,ABEL,JOHN,H.,422 THOMAS STREET,NaN,BETHLEHEM,PA,180153316,200.0,2008-01-22,37
166,NaN,ABEL,MARLING,L.,14 HANGING MOSS LANE,NaN,GREENVILLE,SC,296155069,100.0,2008-01-22,37
167,NaN,ABEL,RUDOLPH,NaN,4532 OCEAN BLVD.,# 108,SARASOTA,FL,342421337,100.0,2008-01-08,37
168,NaN,ABELE,RODNEY,NaN,3620 METAIRIE HEIGHTS AVENUE,NaN,METAIRIE,LA,700021823,500.0,2008-01-15,37
169,NaN,ABERCROMBIE,DENIS,NaN,11811 WATER OAK CT,NaN,MAGNOLIA,TX,773546270,500.0,2008-01-30,37
170,NaN,ABESHAUS,MERRILL,M.,1801 N. HEREFORD DRIVE,NaN,FLAGSTAFF,AZ,860011121,120.0,2008-01-16,37
171,NaN,ABRAHAM,GEORGE,NaN,P.O. BOX 1504,NaN,LAKE CHARLES,LA,706021504,800.0,2008-01-17,37
172,NaN,ABRAHAMSON,PETER,J.,1030 W. ROSCOE STREET,NaN,CHICAGO,IL,606572207,50.0,2008-01-25,37
173,NaN,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1000.0,2008-01-17,37
174,NaN,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1300.0,2008-01-30,37

Reading things in is quite easy with `pandas`.

Notice that `pandas` populates empty fields with `NaN` values.

The `id` column in the contributors dataset is superfluous.  Let's delete it.

In [5]:
del dfcontr['id']
dfcontr.head()

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
0,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16
1,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16
2,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,50.0,2007-06-18,16
3,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,100.0,2007-06-21,16
4,Akin,Charles,NaN,10187 Sugar Creek Road,NaN,Bentonville,AR,72712,100.0,2007-06-16,16

Very nice!  And we used the `head` method to print out the first five rows.

## Creating a Table with `pandas`
We can use `pandas` to create tables in a database.

First, let's create a new database since we've already done a lot on our test database.

In [6]:
dbp = sqlite3.connect('L21_pandas_DB.sqlite')
csr = dbp.cursor()
csr.execute("DROP TABLE IF EXISTS candidates")
csr.execute("DROP TABLE IF EXISTS contributors")
csr.execute("PRAGMA foreign_keys=1")

csr.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_name TEXT, 
               party TEXT NOT NULL)''')

dbp.commit() # Commit changes to the database

csr.execute('''CREATE TABLE contributors (
          id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
          last_name TEXT, 
          first_name TEXT, 
          middle_name TEXT, 
          street_1 TEXT, 
          street_2 TEXT, 
          city TEXT, 
          state TEXT, 
          zip TEXT, 
          amount REAL, 
          date DATETIME, 
          candidate_id INTEGER NOT NULL, 
          FOREIGN KEY(candidate_id) REFERENCES candidates(id))''')

dbp.commit()

Last time, we opened the data files with `Python` and then manually used `SQLite` commands to populate the individual tables.  We can use `pandas` instead like so.

In [7]:
dfcand.to_sql("candidates", dbp, if_exists="append", index=False)

How big is our table?

In [8]:
dfcand.shape

(17, 5)

We can visualize the data in our `pandas`-populated table.  No surprises here except that `pandas` did everything for us.

In [9]:
query = '''SELECT * FROM candidates'''
csr.execute(query).fetchall()

[(16, 'Mike', 'Huckabee', None, 'R'),
 (20, 'Barack', 'Obama', None, 'D'),
 (22, 'Rudolph', 'Giuliani', None, 'R'),
 (24, 'Mike', 'Gravel', None, 'D'),
 (26, 'John', 'Edwards', None, 'D'),
 (29, 'Bill', 'Richardson', None, 'D'),
 (30, 'Duncan', 'Hunter', None, 'R'),
 (31, 'Dennis', 'Kucinich', None, 'D'),
 (32, 'Ron', 'Paul', None, 'R'),
 (33, 'Joseph', 'Biden', None, 'D'),
 (34, 'Hillary', 'Clinton', 'R.', 'D'),
 (35, 'Mitt', 'Romney', None, 'R'),
 (36, 'Samuel', 'Brownback', None, 'R'),
 (37, 'John', 'McCain', None, 'R'),
 (38, 'Tom', 'Tancredo', None, 'R'),
 (39, 'Christopher', 'Dodd', 'J.', 'D'),
 (41, 'Fred', 'Thompson', 'D.', 'R')]

## Querying a table with `pandas`

### One Way

In [10]:
dfcand.query("first_name=='Mike' & party=='D'")

   id first_name last_name middle_name party
6  24       Mike    Gravel         NaN     D

### Another Way

In [11]:
dfcand[(dfcand.first_name=="Mike") & (dfcand.party=="D")]

   id first_name last_name middle_name party
6  24       Mike    Gravel         NaN     D

### More Queries

In [12]:
dfcand[dfcand.middle_name.notnull()]

    id   first_name last_name middle_name party
2   34      Hillary   Clinton          R.     D
3   39  Christopher      Dodd          J.     D
16  41         Fred  Thompson          D.     R

In [13]:
dfcand[dfcand.first_name.isin(['Mike', 'Hillary'])]

   id first_name last_name middle_name party
2  34    Hillary   Clinton          R.     D
6  24       Mike    Gravel         NaN     D
7  16       Mike  Huckabee         NaN     R

## Sorting

In [25]:
dfcand.sort_values(by='party')

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
13  29         Bill  Richardson         NaN     D
6   24         Mike      Gravel         NaN     D
11  20       Barack       Obama         NaN     D
9   31       Dennis    Kucinich         NaN     D
14  35         Mitt      Romney         NaN     R
12  32          Ron        Paul         NaN     R
8   30       Duncan      Hunter         NaN     R
15  38          Tom    Tancredo         NaN     R
7   16         Mike    Huckabee         NaN     R
5   22      Rudolph    Giuliani         NaN     R
1   36       Samuel   Brownback         NaN     R
10  37         John      McCain         NaN     R
16  41         Fred    Thompson          D.     R

In [26]:
dfcand.sort_values(by='party', ascending=False)

    id   first_name   last_name middle_name party
8   30       Duncan      Hunter         NaN     R
7   16         Mike    Huckabee         NaN     R
15  38          Tom    Tancredo         NaN     R
14  35         Mitt      Romney         NaN     R
12  32          Ron        Paul         NaN     R
10  37         John      McCain         NaN     R
1   36       Samuel   Brownback         NaN     R
16  41         Fred    Thompson          D.     R
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
9   31       Dennis    Kucinich         NaN     D
11  20       Barack       Obama         NaN     D
4   26         John     Edwards         NaN     D
13  29         Bill  Richardson         NaN     D
3   39  Christopher        Dodd          J.     D
2   34      Hillary     Clinton          R.     D
0   33       Joseph       Biden         NaN     D

## Selecting Columns

In [27]:
dfcand[['last_name', 'party']]

     last_name party
0        Biden     D
1    Brownback     R
2      Clinton     D
3         Dodd     D
4      Edwards     D
5     Giuliani     R
6       Gravel     D
7     Huckabee     R
8       Hunter     R
9     Kucinich     D
10      McCain     R
11       Obama     D
12        Paul     R
13  Richardson     D
14      Romney     R
15    Tancredo     R
16    Thompson     R

In [28]:
dfcand[['last_name', 'party']].count()

last_name    17
party        17
dtype: int64

In [29]:
dfcand[['first_name']].drop_duplicates()

     first_name
0        Joseph
1        Samuel
2       Hillary
3   Christopher
4          John
5       Rudolph
6          Mike
8        Duncan
9        Dennis
11       Barack
12          Ron
13         Bill
14         Mitt
15          Tom
16         Fred

In [30]:
dfcand[['first_name']].drop_duplicates().count()

first_name    15
dtype: int64

## Altering Tables

Creating a new column is quite easy with `pandas`.

In [36]:
dfcand['name'] = dfcand['last_name'] + ", " + dfcand['first_name']
dfcand

    id   first_name   last_name middle_name party               name
0   33       Joseph       Biden         NaN     D      Biden, Joseph
1   36       Samuel   Brownback         NaN     R  Brownback, Samuel
2   34      Hillary     Clinton          R.     D   Clinton, Hillary
3   39  Christopher        Dodd          J.     D  Dodd, Christopher
4   26         John     Edwards         NaN     D      Edwards, John
5   22      Rudolph    Giuliani         NaN     R  Giuliani, Rudolph
6   24         Mike      Gravel         NaN     D       Gravel, Mike
7   16         Mike    Huckabee         NaN     R     Huckabee, Mike
8   30       Duncan      Hunter         NaN     R     Hunter, Duncan
9   31       Dennis    Kucinich         NaN     D   Kucinich, Dennis
10  37         John      McCain         NaN     R       McCain, John
11  20       Barack       Obama         NaN     D      Obama, Barack
12  32          Ron        Paul         NaN     R          Paul, Ron
13  29         Bill  Richardson         NaN     D   Richardson, Bill
14  35         Mitt      Romney         NaN     R       Romney, Mitt
15  38          Tom    Tancredo         NaN     R      Tancredo, Tom
16  41         Fred    Thompson          D.     R     Thompson, Fred

We can change an existing field as well.

In [37]:
dfcand.loc[dfcand.first_name == "Mike", "name"]

6      Gravel, Mike
7    Huckabee, Mike
Name: name, dtype: object

In [38]:
dfcand.loc[dfcand.first_name == "Mike", "name"] = "Mikey"

In [39]:
dfcand.query("first_name == 'Mike'")

   id first_name last_name middle_name party   name
6  24       Mike    Gravel         NaN     D  Mikey
7  16       Mike  Huckabee         NaN     R  Mikey

You may recall that `SQLite` doesn't have the functionality to drop a column.  It's a one-liner with `pandas`.

In [40]:
del dfcand['name']
dfcand

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
1   36       Samuel   Brownback         NaN     R
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
7   16         Mike    Huckabee         NaN     R
8   30       Duncan      Hunter         NaN     R
9   31       Dennis    Kucinich         NaN     D
10  37         John      McCain         NaN     R
11  20       Barack       Obama         NaN     D
12  32          Ron        Paul         NaN     R
13  29         Bill  Richardson         NaN     D
14  35         Mitt      Romney         NaN     R
15  38          Tom    Tancredo         NaN     R
16  41         Fred    Thompson          D.     R

## Aggregation
We'd like to get information about the tables such as the maximum amount contributed to the candidates.  Here are a bunch of ways to describe the tables.

In [45]:
dfcand.describe()

              id
count  17.000000
mean   30.764706
std     7.110990
min    16.000000
25%    26.000000
50%    32.000000
75%    36.000000
max    41.000000

It's not very interesting with the candidates table because the candidates table only has one numeric column.

I'll use the contributors table to do some demos now.

In [47]:
dfcontr.amount.max()

4600.0

In [48]:
dfcontr[dfcontr.amount==dfcontr.amount.max()]

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
30,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,4600.0,2007-08-14,20

In [49]:
dfcontr.groupby("state").sum()

               zip    amount  candidate_id
state
AK      2985459621   1210.00           111
AR          864790  14200.00           192
AZ       860011121    120.00            37
CA     14736360720  -5013.73           600
CO      2405477834  -5823.00           111
CT        68901376   2300.00            35
DC       800341853  -1549.91           102
FL      8970626520  -4050.00           803
IA           50266    250.00            16
ID           83648   -261.00            32
IL      3042068689  -5586.80           175
KS           66215   -330.00            32
KY       402597029   -200.00            22
LA      1406043327   1300.00            74
MA       123026638    -83.00           208
MD       416287617    300.00            55
ME       165647170   2520.00           122
MI      2426973485  -1265.00           164
MN      1102338918    322.00           100
MO           64111    100.00            20
NC           27502    500.00            16
NH        32564424    -24.60            32
NJ        70254993   -817.45            64
NV      3575889763    725.00           144
NY       606129991  -6474.50           233
OH          176071    450.00            80
OK      2202499044    800.00           102
PA       540499020  -2146.00           145
RI        58065892    200.00            70
SC       296214789   2400.00            69
TN           37188    -25.00            32
TX      6221452245   1985.24           302
UT      9251153394   5050.00           340
VA       440691831    515.92           135
WA      2941290251   -500.00            90

In [50]:
dfcontr.groupby("state")["amount"].sum()

state
AK     1210.00
AR    14200.00
AZ      120.00
CA    -5013.73
CO    -5823.00
CT     2300.00
DC    -1549.91
FL    -4050.00
IA      250.00
ID     -261.00
IL    -5586.80
KS     -330.00
KY     -200.00
LA     1300.00
MA      -83.00
MD      300.00
ME     2520.00
MI    -1265.00
MN      322.00
MO      100.00
NC      500.00
NH      -24.60
NJ     -817.45
NV      725.00
NY    -6474.50
OH      450.00
OK      800.00
PA    -2146.00
RI      200.00
SC     2400.00
TN      -25.00
TX     1985.24
UT     5050.00
VA      515.92
WA     -500.00
Name: amount, dtype: float64

In [51]:
dfcontr.state.unique()

array(['VA', 'CA', 'AR', 'DC', 'SC', 'IA', 'OH', 'NC', 'UT', 'MO', 'IL',
       'ME', 'FL', 'MD', 'MI', 'CO', 'WA', 'NY', 'TX', 'KY', 'PA', 'TN',
       'MA', 'MN', 'KS', 'NJ', 'NH', 'ID', 'OK', nan, 'NV', 'CT', 'RI',
       'AK', 'LA', 'AZ'], dtype=object)

There is also a version of the `LIMIT` clause.  It's very intuitive with `pandas`.

In [52]:
dfcand[0:3]

   id first_name  last_name middle_name party
0  33     Joseph      Biden         NaN     D
1  36     Samuel  Brownback         NaN     R
2  34    Hillary    Clinton          R.     D

The usual `Python` slicing works just fine!

## Joins with `pandas`

`pandas` has some some documentation on `joins`:  [Merge, join, and concatenate](http://pandas.pydata.org/pandas-docs/stable/merging.html).  If you want some more reinforcement on the concepts from earlier regarding `JOIN`, then the `pandas` documentation may be a good place to get it.

You may also be interested in [a comparison with `SQL`](http://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html#compare-with-sql-join).

To do joins with `pandas`, we use the `merge` command.

Here's an example of an explicit inner join:

In [53]:
cols_wanted = ['last_name_x', 'first_name_x', 'candidate_id', 'id', 'last_name_y']
dfcontr.merge(dfcand, left_on="candidate_id", right_on="id")[cols_wanted]

     last_name_x first_name_x  candidate_id  id last_name_y
0           Agee       Steven            16  16    Huckabee
1         Ahrens          Don            16  16    Huckabee
2         Ahrens          Don            16  16    Huckabee
3         Ahrens          Don            16  16    Huckabee
4           Akin      Charles            16  16    Huckabee
5           Akin         Mike            16  16    Huckabee
6           Akin      Rebecca            16  16    Huckabee
7       Aldridge      Brittni            16  16    Huckabee
8          Allen      John D.            16  16    Huckabee
9          Allen      John D.            16  16    Huckabee
10       Allison      John W.            16  16    Huckabee
11       Allison      Rebecca            16  16    Huckabee
12       Allison      Rebecca            16  16    Huckabee
13         Altes         R.D.            16  16    Huckabee
14        Andres         Dale            16  16    Huckabee
15       Anthony         John            16  16    Huckabee
16      Arbogast       Robert            16  16    Huckabee
17      Arbogast       Robert            16  16    Huckabee
18         Ardle      William            16  16    Huckabee
19          Atiq         Omar            16  16    Huckabee
20          Atiq         Omar            16  16    Huckabee
21         Baker        David            16  16    Huckabee
22      Bancroft        David            16  16    Huckabee
23         Banks      Charles            16  16    Huckabee
24        Barbee         John            16  16    Huckabee
25       Buckler        Steve            20  20       Obama
26       Buckler        Steve            20  20       Obama
27      Buckheit        Bruce            20  20       Obama
28        Buckel        Linda            20  20       Obama
29        Buckel        Linda            20  20       Obama
..           ...          ...           ...  ..         ...
145      ABDELLA       THOMAS            35  35      Romney
146       ABBOTT       WELDON            35  35      Romney
147       ABBOTT       WELDON            35  35      Romney
148       ABBOTT       GERALD            35  35      Romney
149       ABBOTT       GERALD            35  35      Romney
150       ABEDIN       ZAINUL            37  37      McCain
151       ABBOTT        SYBIL            37  37      McCain
152       ABBOTT        SYBIL            37  37      McCain
153       ABBOTT       RONALD            37  37      McCain
154       ABBOTT       RONALD            37  37      McCain
155       ABBOTT       ROBERT            37  37      McCain
156       ABBOTT         MIKE            37  37      McCain
157        ABBOT        DAVID            37  37      McCain
158         ABBO      PAULINE            37  37      McCain
159        ABATE        MARIA            37  37      McCain
160        ABAIR        PETER            37  37      McCain
161    ABACHERLI      SHIRLEY            37  37      McCain
162       AARONS      CHARLES            37  37      McCain
163       AARONS      CHARLES            37  37      McCain
164       AARONS      CHARLES            37  37      McCain
165         ABEL         JOHN            37  37      McCain
166         ABEL      MARLING            37  37      McCain
167         ABEL      RUDOLPH            37  37      McCain
168        ABELE       RODNEY            37  37      McCain
169  ABERCROMBIE        DENIS            37  37      McCain
170     ABESHAUS      MERRILL            37  37      McCain
171      ABRAHAM       GEORGE            37  37      McCain
172   ABRAHAMSON        PETER            37  37      McCain
173      ABRAHAM        SALEM            37  37      McCain
174      ABRAHAM        SALEM            37  37      McCain

[175 rows x 5 columns]

#### Somewhat organized example

In [54]:
dfcontr.merge(dfcand, left_on="candidate_id", right_on="id")[cols_wanted].groupby('last_name_y').describe()

            candidate_id                                             id        \
                   count  mean  std   min   25%   50%   75%   max count  mean
last_name_y
Clinton             25.0  34.0  0.0  34.0  34.0  34.0  34.0  34.0  25.0  34.0
Giuliani            25.0  22.0  0.0  22.0  22.0  22.0  22.0  22.0  25.0  22.0
Huckabee            25.0  16.0  0.0  16.0  16.0  16.0  16.0  16.0  25.0  16.0
McCain              25.0  37.0  0.0  37.0  37.0  37.0  37.0  37.0  25.0  37.0
Obama               25.0  20.0  0.0  20.0  20.0  20.0  20.0  20.0  25.0  20.0
Paul                25.0  32.0  0.0  32.0  32.0  32.0  32.0  32.0  25.0  32.0
Romney              25.0  35.0  0.0  35.0  35.0  35.0  35.0  35.0  25.0  35.0


             std   min   25%   50%   75%   max
last_name_y
Clinton      0.0  34.0  34.0  34.0  34.0  34.0
Giuliani     0.0  22.0  22.0  22.0  22.0  22.0
Huckabee     0.0  16.0  16.0  16.0  16.0  16.0
McCain       0.0  37.0  37.0  37.0  37.0  37.0
Obama        0.0  20.0  20.0  20.0  20.0  20.0
Paul         0.0  32.0  32.0  32.0  32.0  32.0
Romney       0.0  35.0  35.0  35.0  35.0  35.0

### Other Joins with `pandas`
We didn't cover all possible joins because `SQLite` can only handle the few that we did discuss.  As mentioned, there are workarounds for some things in `SQLite`, but not evertyhing.  Fortunately, `pandas` can handle pretty much everything.  Here are a few joins that `pandas` can handle:
* `LEFT OUTER` (already discussed)
* `RIGHT OUTER` - Think of the "opposite" of a `LEFT OUTER` join (shade the intersection and *right* set in the Venn diagram).
* `FULL OUTER` - Combine everything from both tables (shade the entire Venn diagram)

#### Left Outer Join with `pandas`

In [55]:
dfcontr.merge(dfcand, left_on="candidate_id", right_on="id", how="left")[cols_wanted]

     last_name_x first_name_x  candidate_id  id last_name_y
0           Agee       Steven            16  16    Huckabee
1         Ahrens          Don            16  16    Huckabee
2         Ahrens          Don            16  16    Huckabee
3         Ahrens          Don            16  16    Huckabee
4           Akin      Charles            16  16    Huckabee
5           Akin         Mike            16  16    Huckabee
6           Akin      Rebecca            16  16    Huckabee
7       Aldridge      Brittni            16  16    Huckabee
8          Allen      John D.            16  16    Huckabee
9          Allen      John D.            16  16    Huckabee
10       Allison      John W.            16  16    Huckabee
11       Allison      Rebecca            16  16    Huckabee
12       Allison      Rebecca            16  16    Huckabee
13         Altes         R.D.            16  16    Huckabee
14        Andres         Dale            16  16    Huckabee
15       Anthony         John            16  16    Huckabee
16      Arbogast       Robert            16  16    Huckabee
17      Arbogast       Robert            16  16    Huckabee
18         Ardle      William            16  16    Huckabee
19          Atiq         Omar            16  16    Huckabee
20          Atiq         Omar            16  16    Huckabee
21         Baker        David            16  16    Huckabee
22      Bancroft        David            16  16    Huckabee
23         Banks      Charles            16  16    Huckabee
24        Barbee         John            16  16    Huckabee
25       Buckler        Steve            20  20       Obama
26       Buckler        Steve            20  20       Obama
27      Buckheit        Bruce            20  20       Obama
28        Buckel        Linda            20  20       Obama
29        Buckel        Linda            20  20       Obama
..           ...          ...           ...  ..         ...
145      ABDELLA       THOMAS            35  35      Romney
146       ABBOTT       WELDON            35  35      Romney
147       ABBOTT       WELDON            35  35      Romney
148       ABBOTT       GERALD            35  35      Romney
149       ABBOTT       GERALD            35  35      Romney
150       ABEDIN       ZAINUL            37  37      McCain
151       ABBOTT        SYBIL            37  37      McCain
152       ABBOTT        SYBIL            37  37      McCain
153       ABBOTT       RONALD            37  37      McCain
154       ABBOTT       RONALD            37  37      McCain
155       ABBOTT       ROBERT            37  37      McCain
156       ABBOTT         MIKE            37  37      McCain
157        ABBOT        DAVID            37  37      McCain
158         ABBO      PAULINE            37  37      McCain
159        ABATE        MARIA            37  37      McCain
160        ABAIR        PETER            37  37      McCain
161    ABACHERLI      SHIRLEY            37  37      McCain
162       AARONS      CHARLES            37  37      McCain
163       AARONS      CHARLES            37  37      McCain
164       AARONS      CHARLES            37  37      McCain
165         ABEL         JOHN            37  37      McCain
166         ABEL      MARLING            37  37      McCain
167         ABEL      RUDOLPH            37  37      McCain
168        ABELE       RODNEY            37  37      McCain
169  ABERCROMBIE        DENIS            37  37      McCain
170     ABESHAUS      MERRILL            37  37      McCain
171      ABRAHAM       GEORGE            37  37      McCain
172   ABRAHAMSON        PETER            37  37      McCain
173      ABRAHAM        SALEM            37  37      McCain
174      ABRAHAM        SALEM            37  37      McCain

[175 rows x 5 columns]

#### Right Outer Join with `pandas`

In [56]:
dfcontr.merge(dfcand, left_on="candidate_id", right_on="id", how="right")[cols_wanted]

     last_name_x first_name_x  candidate_id  id last_name_y
0           Agee       Steven          16.0  16    Huckabee
1         Ahrens          Don          16.0  16    Huckabee
2         Ahrens          Don          16.0  16    Huckabee
3         Ahrens          Don          16.0  16    Huckabee
4           Akin      Charles          16.0  16    Huckabee
5           Akin         Mike          16.0  16    Huckabee
6           Akin      Rebecca          16.0  16    Huckabee
7       Aldridge      Brittni          16.0  16    Huckabee
8          Allen      John D.          16.0  16    Huckabee
9          Allen      John D.          16.0  16    Huckabee
10       Allison      John W.          16.0  16    Huckabee
11       Allison      Rebecca          16.0  16    Huckabee
12       Allison      Rebecca          16.0  16    Huckabee
13         Altes         R.D.          16.0  16    Huckabee
14        Andres         Dale          16.0  16    Huckabee
15       Anthony         John          16.0  16    Huckabee
16      Arbogast       Robert          16.0  16    Huckabee
17      Arbogast       Robert          16.0  16    Huckabee
18         Ardle      William          16.0  16    Huckabee
19          Atiq         Omar          16.0  16    Huckabee
20          Atiq         Omar          16.0  16    Huckabee
21         Baker        David          16.0  16    Huckabee
22      Bancroft        David          16.0  16    Huckabee
23         Banks      Charles          16.0  16    Huckabee
24        Barbee         John          16.0  16    Huckabee
25       Buckler        Steve          20.0  20       Obama
26       Buckler        Steve          20.0  20       Obama
27      Buckheit        Bruce          20.0  20       Obama
28        Buckel        Linda          20.0  20       Obama
29        Buckel        Linda          20.0  20       Obama
..           ...          ...           ...  ..         ...
155       ABBOTT       ROBERT          37.0  37      McCain
156       ABBOTT         MIKE          37.0  37      McCain
157        ABBOT        DAVID          37.0  37      McCain
158         ABBO      PAULINE          37.0  37      McCain
159        ABATE        MARIA          37.0  37      McCain
160        ABAIR        PETER          37.0  37      McCain
161    ABACHERLI      SHIRLEY          37.0  37      McCain
162       AARONS      CHARLES          37.0  37      McCain
163       AARONS      CHARLES          37.0  37      McCain
164       AARONS      CHARLES          37.0  37      McCain
165         ABEL         JOHN          37.0  37      McCain
166         ABEL      MARLING          37.0  37      McCain
167         ABEL      RUDOLPH          37.0  37      McCain
168        ABELE       RODNEY          37.0  37      McCain
169  ABERCROMBIE        DENIS          37.0  37      McCain
170     ABESHAUS      MERRILL          37.0  37      McCain
171      ABRAHAM       GEORGE          37.0  37      McCain
172   ABRAHAMSON        PETER          37.0  37      McCain
173      ABRAHAM        SALEM          37.0  37      McCain
174      ABRAHAM        SALEM          37.0  37      McCain
175          NaN          NaN           NaN  33       Biden
176          NaN          NaN           NaN  36   Brownback
177          NaN          NaN           NaN  39        Dodd
178          NaN          NaN           NaN  26     Edwards
179          NaN          NaN           NaN  24      Gravel
180          NaN          NaN           NaN  30      Hunter
181          NaN          NaN           NaN  31    Kucinich
182          NaN          NaN           NaN  29  Richardson
183          NaN          NaN           NaN  38    Tancredo
184          NaN          NaN           NaN  41    Thompson

[185 rows x 5 columns]

#### Full Outer Join with `pandas`

In [57]:
dfcontr.merge(dfcand, left_on="candidate_id", right_on="id", how="outer")[cols_wanted]

     last_name_x first_name_x  candidate_id  id last_name_y
0           Agee       Steven          16.0  16    Huckabee
1         Ahrens          Don          16.0  16    Huckabee
2         Ahrens          Don          16.0  16    Huckabee
3         Ahrens          Don          16.0  16    Huckabee
4           Akin      Charles          16.0  16    Huckabee
5           Akin         Mike          16.0  16    Huckabee
6           Akin      Rebecca          16.0  16    Huckabee
7       Aldridge      Brittni          16.0  16    Huckabee
8          Allen      John D.          16.0  16    Huckabee
9          Allen      John D.          16.0  16    Huckabee
10       Allison      John W.          16.0  16    Huckabee
11       Allison      Rebecca          16.0  16    Huckabee
12       Allison      Rebecca          16.0  16    Huckabee
13         Altes         R.D.          16.0  16    Huckabee
14        Andres         Dale          16.0  16    Huckabee
15       Anthony         John          16.0  16    Huckabee
16      Arbogast       Robert          16.0  16    Huckabee
17      Arbogast       Robert          16.0  16    Huckabee
18         Ardle      William          16.0  16    Huckabee
19          Atiq         Omar          16.0  16    Huckabee
20          Atiq         Omar          16.0  16    Huckabee
21         Baker        David          16.0  16    Huckabee
22      Bancroft        David          16.0  16    Huckabee
23         Banks      Charles          16.0  16    Huckabee
24        Barbee         John          16.0  16    Huckabee
25       Buckler        Steve          20.0  20       Obama
26       Buckler        Steve          20.0  20       Obama
27      Buckheit        Bruce          20.0  20       Obama
28        Buckel        Linda          20.0  20       Obama
29        Buckel        Linda          20.0  20       Obama
..           ...          ...           ...  ..         ...
155       ABBOTT       ROBERT          37.0  37      McCain
156       ABBOTT         MIKE          37.0  37      McCain
157        ABBOT        DAVID          37.0  37      McCain
158         ABBO      PAULINE          37.0  37      McCain
159        ABATE        MARIA          37.0  37      McCain
160        ABAIR        PETER          37.0  37      McCain
161    ABACHERLI      SHIRLEY          37.0  37      McCain
162       AARONS      CHARLES          37.0  37      McCain
163       AARONS      CHARLES          37.0  37      McCain
164       AARONS      CHARLES          37.0  37      McCain
165         ABEL         JOHN          37.0  37      McCain
166         ABEL      MARLING          37.0  37      McCain
167         ABEL      RUDOLPH          37.0  37      McCain
168        ABELE       RODNEY          37.0  37      McCain
169  ABERCROMBIE        DENIS          37.0  37      McCain
170     ABESHAUS      MERRILL          37.0  37      McCain
171      ABRAHAM       GEORGE          37.0  37      McCain
172   ABRAHAMSON        PETER          37.0  37      McCain
173      ABRAHAM        SALEM          37.0  37      McCain
174      ABRAHAM        SALEM          37.0  37      McCain
175          NaN          NaN           NaN  33       Biden
176          NaN          NaN           NaN  36   Brownback
177          NaN          NaN           NaN  39        Dodd
178          NaN          NaN           NaN  26     Edwards
179          NaN          NaN           NaN  24      Gravel
180          NaN          NaN           NaN  30      Hunter
181          NaN          NaN           NaN  31    Kucinich
182          NaN          NaN           NaN  29  Richardson
183          NaN          NaN           NaN  38    Tancredo
184          NaN          NaN           NaN  41    Thompson

[185 rows x 5 columns]

# Exercises Part

## Exercises
1. Using an `INNER JOIN`, join the candidates and contributors tables by comparing the `candidate_id` and `candidates_id` columns.  Display your joined table with the columns `contributors.last_name`, `contributors.first_name`, and `candidates.last_name`.
2. Do the same inner join as in the last part, but this time append a `WHERE` clause to select a specific candidate's last name.

#### 1.

In [4]:
query = '''SELECT contributors.last_name, contributors.first_name, candidates.last_name 
           FROM contributors INNER JOIN candidates ON contributors.candidate_id = candidates.id'''
viz_tables(['contributors.last_name', 'contributors.first_name', 'candidates.last_name'], query)

    candidates.last_name contributors.first_name contributors.last_name
0               Huckabee                  Steven                   Agee
1               Huckabee                     Don                 Ahrens
2               Huckabee                     Don                 Ahrens
3               Huckabee                     Don                 Ahrens
4               Huckabee                 Charles                   Akin
5               Huckabee                    Mike                   Akin
6               Huckabee                 Rebecca                   Akin
7               Huckabee                 Brittni               Aldridge
8               Huckabee                 John D.                  Allen
9               Huckabee                 John D.                  Allen
10              Huckabee                 John W.                Allison
11              Huckabee                 Rebecca                Allison
12              Huckabee                 Rebecca                Allison
13              Huckabee                    R.D.                  Altes
14              Huckabee                    Dale                 Andres
15              Huckabee                    John                Anthony
16              Huckabee                  Robert               Arbogast
17              Huckabee                  Robert               Arbogast
18              Huckabee                 William                  Ardle
19              Huckabee                    Omar                   Atiq
20              Huckabee                    Omar                   Atiq
21              Huckabee                   David                  Baker
22              Huckabee                   David               Bancroft
23              Huckabee                 Charles                  Banks
24              Huckabee                    John                 Barbee
25                 Obama                   Steve                Buckler
26                 Obama                   Steve                Buckler
27                 Obama                   Bruce               Buckheit
28                 Obama                   Linda                 Buckel
29                 Obama                   Linda                 Buckel
..                   ...                     ...                    ...
145               Romney                  THOMAS                ABDELLA
146               Romney                  WELDON                 ABBOTT
147               Romney                  WELDON                 ABBOTT
148               Romney                  GERALD                 ABBOTT
149               Romney                  GERALD                 ABBOTT
150               McCain                  ZAINUL                 ABEDIN
151               McCain                   SYBIL                 ABBOTT
152               McCain                   SYBIL                 ABBOTT
153               McCain                  RONALD                 ABBOTT
154               McCain                  RONALD                 ABBOTT
155               McCain                  ROBERT                 ABBOTT
156               McCain                    MIKE                 ABBOTT
157               McCain                   DAVID                  ABBOT
158               McCain                 PAULINE                   ABBO
159               McCain                   MARIA                  ABATE
160               McCain                   PETER                  ABAIR
161               McCain                 SHIRLEY              ABACHERLI
162               McCain                 CHARLES                 AARONS
163               McCain                 CHARLES                 AARONS
164               McCain                 CHARLES                 AARONS
165               McCain                    JOHN                   ABEL
166               McCain                 MARLING                   ABEL
167               McCain                 RUDOLPH                   ABEL
168               McCain                  RODNEY                  ABELE
169               McCain                   DENIS            ABERCROMBIE
170               McCain                 MERRILL               ABESHAUS
171               McCain                  GEORGE                ABRAHAM
172               McCain                   PETER             ABRAHAMSON
173               McCain                   SALEM                ABRAHAM
174               McCain                   SALEM                ABRAHAM

[175 rows x 3 columns]

#### 2.

In [5]:
query = '''SELECT contributors.last_name, contributors.first_name, candidates.last_name 
           FROM contributors INNER JOIN candidates ON contributors.candidate_id = candidates.id WHERE candidates.last_name = "McCain"'''
viz_tables(['contributors.last_name', 'contributors.first_name', 'candidates.last_name'], query)

   candidates.last_name contributors.first_name contributors.last_name
0                McCain                  ZAINUL                 ABEDIN
1                McCain                   SYBIL                 ABBOTT
2                McCain                   SYBIL                 ABBOTT
3                McCain                  RONALD                 ABBOTT
4                McCain                  RONALD                 ABBOTT
5                McCain                  ROBERT                 ABBOTT
6                McCain                    MIKE                 ABBOTT
7                McCain                   DAVID                  ABBOT
8                McCain                 PAULINE                   ABBO
9                McCain                   MARIA                  ABATE
10               McCain                   PETER                  ABAIR
11               McCain                 SHIRLEY              ABACHERLI
12               McCain                 CHARLES                 AARONS
13               McCain                 CHARLES                 AARONS
14               McCain                 CHARLES                 AARONS
15               McCain                    JOHN                   ABEL
16               McCain                 MARLING                   ABEL
17               McCain                 RUDOLPH                   ABEL
18               McCain                  RODNEY                  ABELE
19               McCain                   DENIS            ABERCROMBIE
20               McCain                 MERRILL               ABESHAUS
21               McCain                  GEORGE                ABRAHAM
22               McCain                   PETER             ABRAHAMSON
23               McCain                   SALEM                ABRAHAM
24               McCain                   SALEM                ABRAHAM

## Exercises
Use the following two tables to do the first two exercises in this section. Table A has the form:

| nA   | attr  | idA |
| :::: | ::::: | ::: |
| s1   | 23    | 0   |
| s2   | 7     | 2   |
| s3   | 15    | 2   |
| s4   | 31    | 0   |

and table B has the form:

| nB   | attr  | idB |
| :::: | ::::: | ::: |
| t1   | 60    | 0   |
| t2   | 14    | 7   |
| t3   | 22    | 2   |

1. Draw the table that would result from a `LEFT JOIN` using table A as the reference and the `id` columns for comparison.
2. Draw the table that would result from a `LEFT JOIN` using table B as the reference and the `id` columns for comparison.
3. Create a new table with the following form:

| average contribution | number of contributors | candidate last name |
| :::::::::::::::::::: | :::::::::::::::::::::: | ::::::::::::::::::: |
|    ...               |   ...                  |    ...              |

   The table should be created using the `LEFT JOIN` clause on the contributors table by joining the candidates table by the `id` column.  The `average contribution` column and `number of contributors` column should be obtained using the `AVG` and `COUNT` `SQL` functions.  Finally, you should use the `GROUP BY` clause on the candidates last name.

#### 1.

In [9]:
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS A")
cursor.execute("DROP TABLE IF EXISTS B")
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute('''CREATE TABLE A (
               nA TEXT, 
               attr INTEGER,
               idA INTEGER NOT NULL)''')

db.commit() # Commit changes to the database

cursor.execute('''CREATE TABLE B (
               idB INTEGER NOT NULL, 
               nB TEXT, 
               attr INTEGER)''')

db.commit() # Commit changes to the database

cursor.execute('''INSERT INTO A 
          (nA, attr, idA)
          VALUES (?, ?, ?)''', ('s1', 23, 0))
cursor.execute('''INSERT INTO A 
          (nA, attr, idA)
          VALUES (?, ?, ?)''', ('s2', 7, 2))
cursor.execute('''INSERT INTO A 
          (nA, attr, idA)
          VALUES (?, ?, ?)''', ('s3', 15, 2))
cursor.execute('''INSERT INTO A 
          (nA, attr, idA)
          VALUES (?, ?, ?)''', ('s4', 31, 0))

cursor.execute('''INSERT INTO B 
          (nB, attr, idB)
          VALUES (?, ?, ?)''', ('t1', 60, 0))
cursor.execute('''INSERT INTO B 
          (nB, attr, idB)
          VALUES (?, ?, ?)''', ('t2', 14, 7))
cursor.execute('''INSERT INTO B 
          (nB, attr, idB)
          VALUES (?, ?, ?)''', ('t3', 22, 2))
db.commit() # Commit changes to the database

In [10]:
query = '''SELECT nA, A.attr, nB, B.attr FROM A LEFT JOIN B ON B.idB = A.idA'''
viz_tables(['nA', 'A.attr', 'nB', 'B.attr'], query)

   A.attr  B.attr  nA  nB
0      23      60  s1  t1
1       7      22  s2  t3
2      15      22  s3  t3
3      31      60  s4  t1

#### 2.

In [11]:
query = '''SELECT nA, A.attr, nB, B.attr FROM B LEFT JOIN A ON B.idB = A.idA'''
viz_tables(['nA', 'A.attr', 'nB', 'B.attr'], query)

   A.attr  B.attr    nA  nB
0    23.0      60    s1  t1
1    31.0      60    s4  t1
2     NaN      14  None  t2
3     7.0      22    s2  t3
4    15.0      22    s3  t3

#### 3.

In [12]:
query = '''SELECT AVG(contributors.amount), COUNT(contributors.id), candidates.last_name
           FROM contributors LEFT JOIN candidates ON contributors.candidate_id = candidates.id 
           GROUP BY candidates.last_name'''
viz_tables(['average contribution', 'number of contributors', 'candidate last name'], query)

   average contribution candidate last name  number of contributors
0               50.6000             Clinton                      25
1            -1360.0000            Giuliani                      25
2              772.0000            Huckabee                      25
3              452.6000              McCain                      25
4              472.4356               Obama                      25
5             -519.7088                Paul                      25
6              156.0000              Romney                      25

## Exercises
1. Use `pandas` to populate the contributors table.
2. Query the contributors tables with the following:
  1. List entries where the state is "VA" and the amount is less than $\$400.00$.
  2. List entries where the state is "NULL".
  3. List entries for the states of Texas and Pennsylvania.
  4. List entries where the amount contributed is between $\$10.00$ and $\$50.00$.

#### 1. Use pandas to populate the contributors table.

In [16]:
dfcontr.to_sql("contributors", dbp, if_exists="append", index=False)
query = '''SELECT * FROM contributors'''
csr.execute(query).fetchall()

[(1,
  'Agee',
  'Steven',
  None,
  '549 Laurel Branch Road',
  None,
  'Floyd',
  'VA',
  '24091',
  500.0,
  '2007-06-30',
  16),
 (2,
  'Ahrens',
  'Don',
  None,
  '4034 Rennellwood Way',
  None,
  'Pleasanton',
  'CA',
  '94566',
  250.0,
  '2007-05-16',
  16),
 (3,
  'Ahrens',
  'Don',
  None,
  '4034 Rennellwood Way',
  None,
  'Pleasanton',
  'CA',
  '94566',
  50.0,
  '2007-06-18',
  16),
 (4,
  'Ahrens',
  'Don',
  None,
  '4034 Rennellwood Way',
  None,
  'Pleasanton',
  'CA',
  '94566',
  100.0,
  '2007-06-21',
  16),
 (5,
  'Akin',
  'Charles',
  None,
  '10187 Sugar Creek Road',
  None,
  'Bentonville',
  'AR',
  '72712',
  100.0,
  '2007-06-16',
  16),
 (6,
  'Akin',
  'Mike',
  None,
  '181 Baywood Lane',
  None,
  'Monticello',
  'AR',
  '71655',
  1500.0,
  '2007-05-18',
  16),
 (7,
  'Akin',
  'Rebecca',
  None,
  '181 Baywood Lane',
  None,
  'Monticello',
  'AR',
  '71655',
  500.0,
  '2007-05-18',
  16),
 (8,
  'Aldridge',
  'Brittni',
  None,
  '808 Capitol Square Place, SW',
  None,
  'Washington',
  'DC',
  '20024',
  250.0,
  '2007-06-06',
  16),
 (9,
  'Allen',
  'John D.',
  None,
  '1052 Cannon Mill Drive',
  None,
  'North Augusta',
  'SC',
  '29860',
  1000.0,
  '2007-06-11',
  16),
 (10,
  'Allen',
  'John D.',
  None,
  '1052 Cannon Mill Drive',
  None,
  'North Augusta',
  'SC',
  '29860',
  1300.0,
  '2007-06-29',
  16),
 (11,
  'Allison',
  'John W.',
  None,
  'P.O. Box 1089',
  None,
  'Conway',
  'AR',
  '72033',
  1000.0,
  '2007-05-18',
  16),
 (12,
  'Allison',
  'Rebecca',
  None,
  '3206 Summit Court',
  None,
  'Little Rock',
  'AR',
  '72227',
  1000.0,
  '2007-04-25',
  16),
 (13,
  'Allison',
  'Rebecca',
  None,
  '3206 Summit Court',
  None,
  'Little Rock',
  'AR',
  '72227',
  200.0,
  '2007-06-12',
  16),
 (14,
  'Altes',
  'R.D.',
  None,
  '8600 Moody Road',
  None,
  'Fort Smith',
  'AR',
  '72903',
  2300.0,
  '2007-06-21',
  16),
 (15,
  'Andres',
  'Dale',
  None,
  '1160 Glen Oaks Drive',
  None,
  'West Des Moines',
  'IA',
  '50266',
  250.0,
  '2007-06-06',
  16),
 (16,
  'Anthony',
  'John',
  None,
  '211 Long Island Drive',
  None,
  'Hot Springs',
  'AR',
  '71913',
  2300.0,
  '2007-06-12',
  16),
 (17,
  'Arbogast',
  'Robert',
  None,
  '12900 State Route 56 SE',
  None,
  'Mount Sterling',
  'OH',
  '43143',
  500.0,
  '2007-04-08',
  16),
 (18,
  'Arbogast',
  'Robert',
  None,
  '12900 State Route 56 SE',
  None,
  'Mount Sterling',
  'OH',
  '43143',
  100.0,
  '2007-06-22',
  16),
 (19,
  'Ardle',
  'William',
  None,
  '412 Dakota Avenue',
  None,
  'Springfield',
  'OH',
  '45504',
  50.0,
  '2007-06-28',
  16),
 (20,
  'Atiq',
  'Omar',
  None,
  '7200 S Hazel Street',
  None,
  'Pine Bluff',
  'AR',
  '71603',
  1000.0,
  '2007-05-18',
  16),
 (21,
  'Atiq',
  'Omar',
  None,
  '7200 S Hazel Street',
  None,
  'Pine Bluff',
  'AR',
  '71603',
  1000.0,
  '2007-06-27',
  16),
 (22,
  'Baker',
  'David',
  None,
  '2550 Adamsbrooke Drive',
  None,
  'Conway',
  'AR',
  '72034',
  2300.0,
  '2007-04-11',
  16),
 (23,
  'Bancroft',
  'David',
  None,
  '2934 Broderick Street',
  None,
  'San Francisco',
  'CA',
  '94123',
  250.0,
  '2007-04-24',
  16),
 (24,
  'Banks',
  'Charles',
  None,
  'P.O. Box 251310',
  None,
  'Little Rock',
  'AR',
  '72225',
  1000.0,
  '2007-05-14',
  16),
 (25,
  'Barbee',
  'John',
  None,
  '516 Kellyridge Drive',
  None,
  'Apex',
  'NC',
  '27502',
  500.0,
  '2007-05-23',
  16),
 (26,
  'Buckler',
  'Steve',
  None,
  '24351 Armada Dr',
  None,
  'Dana Point',
  'CA',
  '926291306',
  50.0,
  '2007-07-30',
  20),
 (27,
  'Buckler',
  'Steve',
  None,
  '24351 Armada Dr',
  None,
  'Dana Point',
  'CA',
  '926291306',
  25.0,
  '2007-08-16',
  20),
 (28,
  'Buckheit',
  'Bruce',
  None,
  '8904 KAREN DR',
  None,
  'FAIRFAX',
  'VA',
  '220312731',
  100.0,
  '2007-09-19',
  20),
 (29,
  'Buckel',
  'Linda',
  None,
  'PO Box 683130',
  None,
  'Park City',
  'UT',
  '840683130',
  2300.0,
  '2007-08-14',
  20),
 (30,
  'Buckel',
  'Linda',
  None,
  'PO Box 683130',
  None,
  'Park City',
  'UT',
  '840683130',
  -2300.0,
  '2007-08-14',
  20),
 (31,
  'Buckel',
  'Linda',
  None,
  'PO Box 683130',
  None,
  'Park City',
  'UT',
  '840683130',
  4600.0,
  '2007-08-14',
  20),
 (32,
  'Buck',
  'Thomas',
  None,
  '4206 Terrace Street',
  None,
  'Kansas City',
  'MO',
  '64111',
  100.0,
  '2007-09-25',
  20),
 (33,
  'Buck',
  'Jay',
  'K.',
  '1855 Old Willow Rd Unit 322',
  None,
  'Northfield',
  'IL',
  '600932918',
  200.0,
  '2007-09-12',
  20),
 (34,
  'Buck',
  'Blaine',
  'M',
  '45 Eaton Ave',
  None,
  'Camden',
  'ME',
  '48431752',
  2300.0,
  '2007-09-30',
  20),
 (35,
  'Buck',
  'Barbara',
  None,
  '1780 NE 138th St',
  None,
  'North Miami',
  'FL',
  '331811316',
  50.0,
  '2007-09-13',
  20),
 (36,
  'Buck',
  'Barbara',
  None,
  '1780 NE 138th St',
  None,
  'North Miami',
  'FL',
  '331811316',
  50.0,
  '2007-07-19',
  20),
 (37,
  'Buchman',
  'Mark M',
  None,
  '2530 Lawton Ave',
  None,
  'San Luis Obispo',
  'CA',
  '934015622',
  460.8,
  '2007-07-18',
  20),
 (38,
  'Bucher',
  'Ida',
  'M',
  '1400 Warnall Ave',
  None,
  'Los Angeles',
  'CA',
  '900245333',
  100.0,
  '2007-07-10',
  20),
 (39,
  'Buchanek',
  'Elizabeth',
  None,
  '7917 Kentbury Dr',
  None,
  'Bethesda',
  'MD',
  '208144615',
  50.0,
  '2007-09-30',
  20),
 (40,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  500.0,
  '2007-09-24',
  20),
 (41,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  -500.0,
  '2007-09-24',
  20),
 (42,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  500.0,
  '2007-09-24',
  20),
 (43,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  700.0,
  '2007-08-28',
  20),
 (44,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  -700.0,
  '2007-08-28',
  20),
 (45,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  1000.0,
  '2007-08-28',
  20),
 (46,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  1300.0,
  '2007-08-09',
  20),
 (47,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  200.0,
  '2007-08-14',
  20),
 (48,
  'Buchanan',
  'John',
  None,
  '2025 NW 29th Rd',
  None,
  'Boca Raton',
  'FL',
  '334316303',
  500.0,
  '2007-07-25',
  20),
 (49,
  'Buchanan',
  'John',
  None,
  '4635 49th St NW',
  None,
  'Washington',
  'DC',
  '200164320',
  200.09,
  '2007-09-23',
  20),
 (50,
  'Harrison',
  'Ryan',
  None,
  '2247 3rd St',
  None,
  'La Verne',
  'CA',
  '917504918',
  25.0,
  '2007-07-26',
  20),
 (51,
  'BYNUM',
  'HERBERT',
  None,
  '332 SUNNYSIDE ROAD',
  None,
  'TAMPA',
  'FL',
  '336177249',
  -500.0,
  '2008-03-10',
  22),
 (52,
  'BYINGTON',
  'MARGARET',
  'E.',
  '2633 MIDDLEBORO LANE N.E.',
  None,
  'GRAND RAPIDS',
  'MI',
  '495061254',
  -2300.0,
  '2008-03-03',
  22),
 (53,
  'BYERS',
  'BOB',
  'A.',
  '13170 TELFAIR AVENUE',
  None,
  'SYLMAR',
  'CA',
  '913423573',
  -2300.0,
  '2008-03-07',
  22),
 (54,
  'BYERS',
  'AUDREY',
  None,
  '2658 LADBROOK WAY',
  None,
  'THOUSAND OAKS',
  'CA',
  '913615073',
  -200.0,
  '2008-03-07',
  22),
 (55,
  'BUSH',
  'KRYSTIE',
  None,
  'P.O. BOX 61046',
  None,
  'DENVER',
  'CO',
  '802061046',
  -2300.0,
  '2008-03-06',
  22),
 (56,
  'BUSH',
  'ERIC',
  None,
  'P.O. BOX 61046',
  None,
  'DENVER',
  'CO',
  '802061046',
  -2300.0,
  '2008-03-06',
  22),
 (57,
  'BURTON',
  'SUSAN',
  None,
  '9338 DEER CREEK DRIVE',
  None,
  'TAMPA',
  'FL',
  '336472286',
  -2300.0,
  '2008-03-05',
  22),
 (58,
  'BURTON',
  'STEVEN',
  'G.',
  '9938 DEER CREEK DRIVE',
  None,
  'TAMPA',
  'FL',
  '33647',
  -2300.0,
  '2008-03-05',
  22),
 (59,
  'BURTON',
  'GLENN',
  'M.',
  '4404 CHARLESTON COURT',
  None,
  'TAMPA',
  'FL',
  '336092620',
  -2300.0,
  '2008-03-05',
  22),
 (60,
  'BURKHARDT',
  'CRAIG',
  'S.',
  '910 15TH STREET N.W.',
  None,
  'WASHINGTON',
  'DC',
  '200052503',
  -500.0,
  '2008-03-07',
  22),
 (61,
  'BURKHARDT',
  'CRAIG',
  'S.',
  '910 15TH STREET N.W.',
  None,
  'WASHINGTON',
  'DC',
  '200052503',
  -1000.0,
  '2008-03-07',
  22),
 (62,
  'BURKHARDT',
  'BARBARA',
  None,
  '910 15TH STREET N.W.',
  None,
  'WASHINGTON',
  'DC',
  '200052503',
  -500.0,
  '2008-03-07',
  22),
 (63,
  'BURKE',
  'SUZANNE',
  'M.',
  '3401 EVANSTON',
  None,
  'SEATTLE',
  'WA',
  '981038677',
  -700.0,
  '2008-03-05',
  22),
 (64,
  'BURKE',
  'GAIL',
  None,
  '165 E. 32ND STREET',
  'APARTMENT 9E',
  'NEW YORK',
  'NY',
  '100166014',
  -2000.0,
  '2008-03-05',
  22),
 (65,
  'BURKE',
  'DONALD',
  'J.',
  '12 LOMPOC',
  None,
  'RANCHO SANTA MARGA',
  'CA',
  '926881817',
  -2300.0,
  '2008-03-11',
  22),
 (66,
  'BURGERT',
  'RONALD',
  'L.',
  '5723 PLUMTREE DRIVE',
  None,
  'DALLAS',
  'TX',
  '752524926',
  -1000.0,
  '2008-03-05',
  22),
 (67,
  'BULL',
  'BARTLE',
  'B.',
  '439 E. 51ST STREET',
  None,
  'NEW YORK',
  'NY',
  '100226473',
  -800.0,
  '2008-03-10',
  22),
 (68,
  'BULL',
  'BARTLE',
  'B.',
  '439 E. 51ST STREET',
  None,
  'NEW YORK',
  'NY',
  '100226473',
  -1000.0,
  '2008-03-10',
  22),
 (69,
  'BUKOWSKI',
  'DANIEL',
  'J.',
  '702 S. WRIGHT STREET',
  None,
  'NAPERVILLE',
  'IL',
  '605406736',
  -100.0,
  '2008-03-10',
  22),
 (70,
  'BUISSON',
  'MARGARET',
  'A.',
  'P.O. BOX 197029',
  None,
  'LOUISVILLE',
  'KY',
  '402597029',
  -200.0,
  '2008-03-11',
  22),
 (71,
  'BUCKLEY',
  'WALTER',
  'W.',
  '1635 COUNTRY ROAD',
  None,
  'BETHLEHEM',
  'PA',
  '180155718',
  -100.0,
  '2008-03-05',
  22),
 (72,
  'BUCKLEY',
  'MARJORIE',
  'B.',
  '1635 COUNTRY ROAD',
  None,
  'BETHLEHEM',
  'PA',
  '180155718',
  -100.0,
  '2008-03-05',
  22),
 (73,
  'BRUNO',
  'JOHN',
  None,
  '10136 WINDERMERE CHASE BLVD.',
  None,
  'GOTHA',
  'FL',
  '347344707',
  -2300.0,
  '2008-03-06',
  22),
 (74,
  'BRUNO',
  'IRENE',
  None,
  '10136 WINDERMERE CHASE BLVD.',
  None,
  'GOTHA',
  'FL',
  '347344707',
  -2300.0,
  '2008-03-06',
  22),
 (75,
  'BROWN',
  'TIMOTHY',
  'J.',
  '26826 MARLOWE COURT',
  None,
  'STEVENSON RANCH',
  'CA',
  '913811020',
  -2300.0,
  '2008-03-06',
  22),
 (76,
  'Schuff',
  'Bryan',
  None,
  '1700 W Sweden Rd',
  None,
  'Brockport',
  'NY',
  '14420',
  -25.0,
  '2008-08-22',
  32),
 (77,
  'Hobbs',
  'James',
  None,
  '229 Cherry Lane',
  None,
  'White House',
  'TN',
  '37188',
  -25.0,
  '2008-08-19',
  32),
 (78,
  'Ranganath',
  'Anoop',
  None,
  '2507 Willard Drive',
  None,
  'Charlottesville',
  'VA',
  '22903',
  -100.0,
  '2008-04-21',
  32),
 (79,
  'Nystrom',
  'Michael',
  'A',
  '93A Fairmont Street',
  None,
  'Arlington',
  'MA',
  '2474',
  -503.0,
  '2008-04-21',
  32),
 (80,
  'Muse',
  'Nina',
  'Jo',
  '2915 Toro Canyon Rd',
  None,
  'Austin',
  'TX',
  '78746',
  -50.0,
  '2008-04-21',
  32),
 (81,
  'Waddell',
  'James',
  'L.',
  '1823 Spel Lane SW',
  None,
  'Rochester',
  'MN',
  '55902',
  -28.0,
  '2008-04-21',
  32),
 (82,
  'Brucks',
  'William',
  'C.',
  'PO Box 391',
  None,
  'Corona del Mar',
  'CA',
  '92625',
  -150.0,
  '2008-04-21',
  32),
 (83,
  'Kuehn',
  'David',
  None,
  '14502 West 93rd Street',
  None,
  'Lenexa',
  'KS',
  '66215',
  -330.0,
  '2008-04-21',
  32),
 (84,
  'Verster',
  'Jeanette',
  'M.',
  '7220 SW 61st St',
  None,
  'Miami',
  'FL',
  '331431807',
  -1000.0,
  '2008-04-21',
  32),
 (85,
  'Uihlein',
  'Richard',
  None,
  '1396 N Waukegan Rd',
  None,
  'Lake Forest',
  'IL',
  '600451147',
  -2300.0,
  '2008-04-21',
  32),
 (86,
  'Eskenberry',
  'Robert',
  'P',
  '10960 Gray Cir',
  None,
  'Westminster',
  'CO',
  '80020',
  -223.0,
  '2008-04-21',
  32),
 (87,
  'Froehling',
  'Alan',
  'L.',
  '302 Broadway St',
  None,
  'Mount Vernon',
  'IL',
  '628645116',
  -844.8,
  '2008-04-21',
  32),
 (88,
  'Duryea',
  'Marcia',
  'A.',
  '123 Bayview Ave',
  None,
  'Amityville',
  'NY',
  '11701',
  -299.5,
  '2008-04-21',
  32),
 (89,
  'Perreault',
  'Louise',
  None,
  '503 Brockridge Hunt Drive',
  None,
  'Hampton',
  'VA',
  '23666',
  -34.08,
  '2008-04-21',
  32),
 (90,
  'Rozenfeld',
  'Timur',
  None,
  '57 Herbert Road',
  None,
  'Robbinsville',
  'NJ',
  '8691',
  -777.95,
  '2008-04-21',
  32),
 (91,
  'Kazor',
  'Christopher',
  'M',
  '707 Spindletree ave',
  None,
  'Naperville',
  'IL',
  '60565',
  -2592.0,
  '2008-04-21',
  32),
 (92,
  'Lehner',
  'Thomas',
  'S.',
  '2701 Star Lane',
  None,
  'Wadsworth',
  'OH',
  '44281',
  -200.0,
  '2008-04-21',
  32),
 (93,
  'Plummer',
  'Joseph',
  None,
  '587 Blake Hill Rd',
  None,
  'New Hampton',
  'NH',
  '32564424',
  -24.6,
  '2008-04-21',
  32),
 (94,
  'Raught',
  'Philip',
  'M',
  '4714 Plum Way',
  None,
  'Pittsburgh',
  'PA',
  '15201',
  -1046.0,
  '2008-04-21',
  32),
 (95,
  'Ferrara',
  'Judith',
  'D',
  '1508 Waterford Road',
  None,
  'Yardley',
  'PA',
  '19067',
  -1100.0,
  '2008-04-21',
  32),
 (96,
  'Johnson',
  'Cathleen',
  'E.',
  '1003 Justin Ln Apt 2016',
  None,
  'Austin',
  'TX',
  '787572648',
  -14.76,
  '2008-04-21',
  32),
 (97,
  'Sanford',
  'Bradley',
  None,
  '940 Post St #43',
  None,
  'San Francisco',
  'CA',
  '94109',
  -24.53,
  '2008-04-21',
  32),
 (98,
  'Gaarder',
  'Bruce',
  None,
  'PO Box 4085',
  None,
  'Mountain Home AFB',
  'ID',
  '83648',
  -261.0,
  '2008-04-21',
  32),
 (99,
  'Choe',
  'Hyeokchan',
  None,
  '207 Bridle Way',
  None,
  'Fort Lee',
  'NJ',
  '70246302',
  -39.5,
  '2008-04-21',
  32),
 (100,
  'Jacobs',
  'Richard',
  'G.',
  '14337 Tawya Rd',
  None,
  'Apple Valley',
  'CA',
  '923075545',
  -1000.0,
  '2008-04-21',
  32),
 (101,
  'Aaronson',
  'Rebecca',
  None,
  '2000 Village Green Dr Apt 12',
  None,
  'Mill Creek',
  'WA',
  '980125787',
  100.0,
  '2008-02-08',
  34),
 (102,
  'Aarons',
  'Elaine',
  None,
  '481 Buck Island Rd Apt 17A',
  'APT 17A',
  'West Yarmouth',
  'MA',
  '26733300',
  25.0,
  '2008-02-26',
  34),
 (103,
  'Aarons',
  'Elaine',
  None,
  '481 Buck Island Rd Apt 17A',
  'APT 17A',
  'West Yarmouth',
  'MA',
  '26733300',
  70.0,
  '2008-02-25',
  34),
 (104,
  'Aarons',
  'Elaine',
  None,
  '481 Buck Island Rd Apt 17A',
  'APT 17A',
  'West Yarmouth',
  'MA',
  '26733300',
  100.0,
  '2008-02-08',
  34),
 (105,
  'Aaron',
  'Shirley',
  None,
  '101 Cherry Ave',
  None,
  'Havana',
  'FL',
  '323331311',
  50.0,
  '2008-02-29',
  34),
 (106,
  'Aaron',
  'Shirley',
  None,
  '101 Cherry Ave',
  None,
  'Havana',
  'FL',
  '323331311',
  100.0,
  '2008-02-29',
  34),
 (107,
  'Aaronson',
  'Rebecca',
  None,
  '2000 Village Green Dr Apt 12',
  None,
  'Mill Creek',
  'WA',
  '980125787',
  100.0,
  '2008-02-14',
  34),
 (108,
  'Aaron',
  'Shirley',
  None,
  '101 Cherry Ave',
  None,
  'Havana',
  'FL',
  '323331311',
  100.0,
  '2008-02-24',
  34),
 (109,
  'Aaron',
  'Shirley',
  None,
  '101 Cherry Ave',
  None,
  'Havana',
  'FL',
  '323331311',
  100.0,
  '2008-02-22',
  34),
 (110,
  'Aaron',
  'Shirley',
  None,
  '101 Cherry Ave',
  None,
  'Havana',
  'FL',
  '323331311',
  100.0,
  '2008-02-17',
  34),
 (111,
  'Reid',
  'Elizabeth',
  None,
  '73 W Patent Rd',
  'OPHIR FARM NORTH',
  'Bedford Hills',
  'NY',
  '105072222',
  -350.0,
  '2008-08-28',
  34),
 (112,
  'Reich',
  'Thomas',
  None,
  '499 Park Ave',
  None,
  'New York',
  'NY',
  '100221240',
  -2300.0,
  '2008-08-28',
  34),
 (113,
  'Aaron',
  'Shirley',
  None,
  '101 Cherry Ave',
  None,
  'Havana',
  'FL',
  '323331311',
  100.0,
  '2008-02-08',
  34),
 (114,
  'Aaron',
  'Shirley',
  None,
  '101 Cherry Ave',
  None,
  'Havana',
  'FL',
  '323331311',
  100.0,
  '2008-02-03',
  34),
 (115,
  'Aaron',
  'Sharron',
  None,
  '1804 E Montgomery St',
  None,
  'Broken Arrow',
  'OK',
  '740121840',
  500.0,
  '2008-02-09',
  34),
 (116,
  'Aaron',
  'Patricia',
  None,
  '418 NW 35th St',
  None,
  'Oklahoma City',
  'OK',
  '731188602',
  200.0,
  '2008-02-26',
  34),
 (117,
  'Aaron',
  'Patricia',
  None,
  '418 NW 35th St',
  None,
  'Oklahoma City',
  'OK',
  '731188602',
  100.0,
  '2008-02-12',
  34),
 (118,
  'Aaron',
  'Jim',
  None,
  '2178 Fairway Cir',
  None,
  'Canton',
  'MI',
  '481885097',
  300.0,
  '2008-02-07',
  34),
 (119,
  'Aaron',
  'Jim',
  None,
  '2178 Fairway Cir',
  None,
  'Canton',
  'MI',
  '481885097',
  200.0,
  '2008-02-29',
  34),
 (120,
  'Aaron',
  'Carole',
  None,
  'PO Box 1806',
  None,
  'Ogunquit',
  'ME',
  '39071806',
  70.0,
  '2008-02-29',
  34),
 (121,
  'Aaron',
  'Carole',
  None,
  'PO Box 1806',
  None,
  'Ogunquit',
  'ME',
  '39071806',
  50.0,
  '2008-02-07',
  34),
 (122,
  'Aaron',
  'Carole',
  None,
  'PO Box 1806',
  None,
  'Ogunquit',
  'ME',
  '39071806',
  100.0,
  '2008-02-03',
  34),
 (123,
  'Aaron',
  'Barbara',
  None,
  '2298 Pacific Ave # 6',
  None,
  'San Francisco',
  'CA',
  '941151435',
  1000.0,
  '2008-02-11',
  34),
 (124,
  'Aanonsen',
  'Lin',
  None,
  '897 Raymond Ave',
  None,
  'Saint Paul',
  'MN',
  '551141508',
  250.0,
  '2008-02-21',
  34),
 (125,
  'Aanonsen',
  'Lin',
  None,
  '897 Raymond Ave',
  None,
  'Saint Paul',
  'MN',
  '551141508',
  100.0,
  '2008-02-08',
  34),
 (126,
  'BOURNE',
  'TRAVIS',
  None,
  'LAGE KAART 77',
  None,
  'BRASSCHATT',
  None,
  '2930',
  -500.0,
  '2008-11-20',
  35),
 (127,
  'SECRIST',
  'BRIAN',
  'L.',
  '3 MULE DEER TRAIL',
  None,
  'LITTLETON',
  'CO',
  '801275722',
  -1000.0,
  '2008-04-07',
  35),
 (128,
  'TOLLESTRUP',
  'TRAVIS',
  'W.',
  '16331 WINECREEK RD.',
  None,
  'SAN DIEGO',
  'CA',
  '92127',
  -1000.0,
  '2008-05-15',
  35),
 (129,
  'ACCORD',
  'DEAN',
  'C.',
  '8813 ROBINSON RIDGE ROAD',
  None,
  'LAS VEGAS',
  'NV',
  '891175812',
  500.0,
  '2007-07-13',
  35),
 (130,
  'ABTS',
  'HENRY',
  None,
  'P. O. BOX 7299',
  None,
  'INCLINE VILLAGE',
  'NV',
  '894527299',
  100.0,
  '2007-07-13',
  35),
 (131,
  'ABSHIER',
  'LANNY',
  None,
  '14191 S.E. HIGHWAY 301',
  None,
  'SUMMERFIELD',
  'FL',
  '34491',
  500.0,
  '2007-09-25',
  35),
 (132,
  'ABSHIER',
  'DIANA',
  None,
  '14191 S.E. HIGHWAY 301',
  None,
  'SUMMERFIELD',
  'FL',
  '34491',
  500.0,
  '2007-09-25',
  35),
 (133,
  'ABREU',
  'KEVIN',
  'M.',
  '1305 GARDEN GLEN LANE',
  None,
  'PEARLAND',
  'TX',
  '775816547',
  50.0,
  '2007-09-30',
  35),
 (134,
  'ABREU',
  'KEVIN',
  'M.',
  '1305 GARDEN GLEN LANE',
  None,
  'PEARLAND',
  'TX',
  '775816547',
  150.0,
  '2007-08-09',
  35),
 (135,
  'ABREU',
  'KEVIN',
  'M.',
  '1305 GARDEN GLEN LANE',
  None,
  'PEARLAND',
  'TX',
  '775816547',
  50.0,
  '2007-07-19',
  35),
 (136,
  'ABRAMOWITZ',
  'NIRA',
  None,
  '411 HARBOR ROAD',
  None,
  'SOUTHPORT',
  'CT',
  '68901376',
  2300.0,
  '2007-09-14',
  35),
 (137,
  'ABRAMS',
  'MICHAEL',
  None,
  '7910 WOODMONT AVENUE',
  None,
  'BETHESDA',
  'MD',
  '208143002',
  250.0,
  '2007-09-29',
  35),
 (138,
  'ABRAMOWITZ',
  'KEN',
  None,
  '200 CENTRAL PARK S.',
  'APARTMENT 31A',
  'NEW YORK',
  'NY',
  '100191448',
  300.0,
  '2007-09-11',
  35),
 (139,
  'ABOUBAKARE',
  'NASAR',
  None,
  '1400 SAN MIGUEL DRIVE',
  None,
  'CORONA DEL MAR',
  'CA',
  '926251300',
  1000.0,
  '2007-07-09',
  35),
 (140,
  'ABEGG',
  'PATRICIA',
  'T.',
  '1862 E. 5150 S.',
  None,
  'SALT LAKE CITY',
  'UT',
  '841176911',
  75.0,
  '2007-09-25',
  35),
 (141,
  'ABEGG',
  'PATRICIA',
  'T.',
  '1862 E. 5150 S.',
  None,
  'SALT LAKE CITY',
  'UT',
  '841176911',
  25.0,
  '2007-09-17',
  35),
 (142,
  'ABEGG',
  'PATRICIA',
  'T.',
  '1862 E. 5150 S.',
  None,
  'SALT LAKE CITY',
  'UT',
  '841176911',
  75.0,
  '2007-08-31',
  35),
 (143,
  'ABEGG',
  'PATRICIA',
  'T.',
  '1862 E. 5150 S.',
  None,
  'SALT LAKE CITY',
  'UT',
  '841176911',
  75.0,
  '2007-08-14',
  35),
 (144,

#### 2. Query the contributors tables with the following:

##### A. List entries where the state is "VA" and the amount is less than  $400.00$ .

In [17]:
dfcontr.query("state=='VA' & amount < 400.0")

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
27,Buckheit,Bruce,NaN,8904 KAREN DR,NaN,FAIRFAX,VA,220312731,100.00,2007-09-19,20
77,Ranganath,Anoop,NaN,2507 Willard Drive,NaN,Charlottesville,VA,22903,-100.00,2008-04-21,32
88,Perreault,Louise,NaN,503 Brockridge Hunt Drive,NaN,Hampton,VA,23666,-34.08,2008-04-21,32
145,ABDELLA,THOMAS,M.,4231 MONUMENT WALL WAY #340,NaN,FAIRFAX,VA,220308440,50.00,2007-09-30,35

##### B. List entries where the state is "NULL"

In [20]:
dfcontr[dfcontr.state.isnull()]

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
125,BOURNE,TRAVIS,NaN,LAGE KAART 77,NaN,BRASSCHATT,NaN,2930,-500.0,2008-11-20,35

##### C.List entries for the states of Texas and Pennsylvania.

In [22]:
dfcontr[dfcontr.state.isin(['TX', 'PA'])]

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
65,BURGERT,RONALD,L.,5723 PLUMTREE DRIVE,NaN,DALLAS,TX,752524926,-1000.00,2008-03-05,22
70,BUCKLEY,WALTER,W.,1635 COUNTRY ROAD,NaN,BETHLEHEM,PA,180155718,-100.00,2008-03-05,22
71,BUCKLEY,MARJORIE,B.,1635 COUNTRY ROAD,NaN,BETHLEHEM,PA,180155718,-100.00,2008-03-05,22
79,Muse,Nina,Jo,2915 Toro Canyon Rd,NaN,Austin,TX,78746,-50.00,2008-04-21,32
93,Raught,Philip,M,4714 Plum Way,NaN,Pittsburgh,PA,15201,-1046.00,2008-04-21,32
94,Ferrara,Judith,D,1508 Waterford Road,NaN,Yardley,PA,19067,-1100.00,2008-04-21,32
95,Johnson,Cathleen,E.,1003 Justin Ln Apt 2016,NaN,Austin,TX,787572648,-14.76,2008-04-21,32
132,ABREU,KEVIN,M.,1305 GARDEN GLEN LANE,NaN,PEARLAND,TX,775816547,50.00,2007-09-30,35
133,ABREU,KEVIN,M.,1305 GARDEN GLEN LANE,NaN,PEARLAND,TX,775816547,150.00,2007-08-09,35
134,ABREU,KEVIN,M.,1305 GARDEN GLEN LANE,NaN,PEARLAND,TX,775816547,50.00,2007-07-19,35
165,ABEL,JOHN,H.,422 THOMAS STREET,NaN,BETHLEHEM,PA,180153316,200.00,2008-01-22,37
169,ABERCROMBIE,DENIS,NaN,11811 WATER OAK CT,NaN,MAGNOLIA,TX,773546270,500.00,2008-01-30,37
173,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1000.00,2008-01-17,37
174,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1300.00,2008-01-30,37

##### D. List entries where the amount contributed is between  $10.00$  and  $50.00$ .

In [24]:
dfcontr.query("amount > 10.0 & amount < 50.0")

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
26,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,25.0,2007-08-16,20
49,Harrison,Ryan,NaN,2247 3rd St,NaN,La Verne,CA,917504918,25.0,2007-07-26,20
101,Aarons,Elaine,NaN,481 Buck Island Rd Apt 17A,APT 17A,West Yarmouth,MA,26733300,25.0,2008-02-26,34
140,ABEGG,PATRICIA,T.,1862 E. 5150 S.,NaN,SALT LAKE CITY,UT,841176911,25.0,2007-09-17,35
143,ABEGG,PATRICIA,T.,1862 E. 5150 S.,NaN,SALT LAKE CITY,UT,841176911,25.0,2007-08-06,35
144,ABEGG,PATRICIA,T.,1862 E. 5150 S.,NaN,SALT LAKE CITY,UT,841176911,25.0,2007-07-10,35
158,ABBO,PAULINE,MORENCY,10720 JACOB LANE,NaN,WHITE LAKE,MI,483862274,35.0,2008-01-07,37
160,ABAIR,PETER,NaN,40 EVANS STREET,NaN,WATERTOWN,MA,24722150,25.0,2008-01-09,37

## Exercises
1. Sort the contributors table by `amount` and order in *descending* order.
2. Select the `first_name` and `amount` columns.
3. Select the `last_name` and `first_name` columns and drop duplicates.
4. Count how many there are after the duplicates have been dropped.

#### 1. Sort the contributors table by amount and order in descending order.

In [31]:
dfcontr.sort_values(by='amount', ascending=False)

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
30,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,4600.00,2007-08-14,20
159,ABATE,MARIA,ELENA,1291 NIGHTINGALE AVENUE,NaN,MIAMI SPRINGS,FL,331663832,2600.00,2008-01-25,37
15,Anthony,John,NaN,211 Long Island Drive,NaN,Hot Springs,AR,71913,2300.00,2007-06-12,16
33,Buck,Blaine,M,45 Eaton Ave,NaN,Camden,ME,48431752,2300.00,2007-09-30,20
28,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,2300.00,2007-08-14,20
21,Baker,David,NaN,2550 Adamsbrooke Drive,NaN,Conway,AR,72034,2300.00,2007-04-11,16
13,Altes,R.D.,NaN,8600 Moody Road,NaN,Fort Smith,AR,72903,2300.00,2007-06-21,16
135,ABRAMOWITZ,NIRA,NaN,411 HARBOR ROAD,NaN,SOUTHPORT,CT,68901376,2300.00,2007-09-14,35
5,Akin,Mike,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,1500.00,2007-05-18,16
174,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1300.00,2008-01-30,37
45,Buchanan,John,NaN,2025 NW 29th Rd,NaN,Boca Raton,FL,334316303,1300.00,2007-08-09,20
9,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1300.00,2007-06-29,16
122,Aaron,Barbara,NaN,2298 Pacific Ave # 6,NaN,San Francisco,CA,941151435,1000.00,2008-02-11,34
23,Banks,Charles,NaN,P.O. Box 251310,NaN,Little Rock,AR,72225,1000.00,2007-05-14,16
19,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.00,2007-05-18,16
44,Buchanan,John,NaN,2025 NW 29th Rd,NaN,Boca Raton,FL,334316303,1000.00,2007-08-28,20
20,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.00,2007-06-27,16
138,ABOUBAKARE,NASAR,NaN,1400 SAN MIGUEL DRIVE,NaN,CORONA DEL MAR,CA,926251300,1000.00,2007-07-09,35
8,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1000.00,2007-06-11,16
156,ABBOTT,MIKE,E.,4516 OSPREY LNDG,NaN,NICEVILLE,FL,325786810,1000.00,2008-01-15,37
11,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,1000.00,2007-04-25,16
10,Allison,John W.,NaN,P.O. Box 1089,NaN,Conway,AR,72033,1000.00,2007-05-18,16
173,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1000.00,2008-01-17,37
171,ABRAHAM,GEORGE,NaN,P.O. BOX 1504,NaN,LAKE CHARLES,LA,706021504,800.00,2008-01-17,37
42,Buchanan,John,NaN,2025 NW 29th Rd,NaN,Boca Raton,FL,334316303,700.00,2007-08-28,20
114,Aaron,Sharron,NaN,1804 E Montgomery St,NaN,Broken Arrow,OK,740121840,500.00,2008-02-09,34
169,ABERCROMBIE,DENIS,NaN,11811 WATER OAK CT,NaN,MAGNOLIA,TX,773546270,500.00,2008-01-30,37
47,Buchanan,John,NaN,2025 NW 29th Rd,NaN,Boca Raton,FL,334316303,500.00,2007-07-25,20
168,ABELE,RODNEY,NaN,3620 METAIRIE HEIGHTS AVENUE,NaN,METAIRIE,LA,700021823,500.00,2008-01-15,37
39,Buchanan,John,NaN,2025 NW 29th Rd,NaN,Boca Raton,FL,334316303,500.00,2007-09-24,20
...,...,...,...,...,...,...,...,...,...,...,...
62,BURKE,SUZANNE,M.,3401 EVANSTON,NaN,SEATTLE,WA,981038677,-700.00,2008-03-05,22
43,Buchanan,John,NaN,2025 NW 29th Rd,NaN,Boca Raton,FL,334316303,-700.00,2007-08-28,20
89,Rozenfeld,Timur,NaN,57 Herbert Road,NaN,Robbinsville,NJ,8691,-777.95,2008-04-21,32
66,BULL,BARTLE,B.,439 E. 51ST STREET,NaN,NEW YORK,NY,100226473,-800.00,2008-03-10,22
86,Froehling,Alan,L.,302 Broadway St,NaN,Mount Vernon,IL,628645116,-844.80,2008-04-21,32
99,Jacobs,Richard,G.,14337 Tawya Rd,NaN,Apple Valley,CA,923075545,-1000.00,2008-04-21,32
60,BURKHARDT,CRAIG,S.,910 15TH STREET N.W.,NaN,WASHINGTON,DC,200052503,-1000.00,2008-03-07,22
65,BURGERT,RONALD,L.,5723 PLUMTREE DRIVE,NaN,DALLAS,TX,752524926,-1000.00,2008-03-05,22
67,BULL,BARTLE,B.,439 E. 51ST STREET,NaN,NEW YORK,NY,100226473,-1000.00,2008-03-10,22
126,SECRIST,BRIAN,L.,3 MULE DEER TRAIL,NaN,LITTLETON,CO,801275722,-1000.00,2008-04-07,35
127,TOLLESTRUP,TRAVIS,W.,16331 WINECREEK RD.,NaN,SAN DIEGO,CA,92127,-1000.00,2008-05-15,35
83,Verster,Jeanette,M.,7220 SW 61st St,NaN,Miami,FL,331431807,-1000.00,2008-04-21,32
93,Raught,Philip,M,4714 Plum Way,NaN,Pittsburgh,PA,15201,-1046.00,2008-04-21,32
94,Ferrara,Judith,D,1508 Waterford Road,NaN,Yardley,PA,19067,-1100.00,2008-04-21,32
63,BURKE,GAIL,NaN,165 E. 32ND STREET,APARTMENT 9E,NEW YORK,NY,100166014,-2000.00,2008-03-05,22
52,BYERS,BOB,A.,13170 TELFAIR AVENUE,NaN,SYLMAR,CA,913423573,-2300.00,2008-03-07,22
74,BROWN,TIMOTHY,J.,26826 MARLOWE COURT,NaN,STEVENSON RANCH,CA,913811020,-2300.00,2008-03-06,22
73,BRUNO,IRENE,NaN,10136 WINDERMERE CHASE BLVD.,NaN,GOTHA,FL,347344707,-2300.00,2008-03-06,22
72,BRUNO,JOHN,NaN,10136 WINDERMERE CHASE BLVD.,NaN,GOTHA,FL,347344707,-2300.00,2008-03-06,22
29,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,-2300.00,2007-08-14,20
51,BYINGTON,MARGARET,E.,2633 MIDDLEBORO LANE N.E.,NaN,GRAND RAPIDS,MI,495061254,-2300.00,2008-03-03,22
64,BURKE,DONALD,J.,12 LOMPOC,NaN,RANCHO SANTA MARGA,CA,926881817,-2300.00,2008-03-11,22
84,Uihlein,Richard,NaN,1396 N Waukegan Rd,NaN,Lake Forest,IL,600451147,-2300.00,2008-04-21,32
54,BUSH,KRYSTIE,NaN,P.O. BOX 61046,NaN,DENVER,CO,802061046,-2300.00,2008-03-06,22
56,BURTON,SUSAN,NaN,9338 DEER CREEK DRIVE,NaN,TAMPA,FL,336472286,-2300.00,2008-03-05,22
57,BURTON,STEVEN,G.,9938 DEER CREEK DRIVE,NaN,TAMPA,FL,33647,-2300.00,2008-03-05,22
111,Reich,Thomas,NaN,499 Park Ave,NaN,New York,NY,100221240,-2300.00,2008-08-28,34
58,BURTON,GLENN,M.,4404 CHARLESTON COURT,NaN,TAMPA,FL,336092620,-2300.00,2008-03-05,22
55,BUSH,ERIC,NaN,P.O. BOX 61046,NaN,DENVER,CO,802061046,-2300.00,2008-03-06,22
90,Kazor,Christopher,M,707 Spindletree ave,NaN,Naperville,IL,60565,-2592.00,2008-04-21,32

#### 2. Select the first_name and amount columns.

In [32]:
dfcontr[['first_name', 'amount']]

    first_name  amount
0       Steven   500.0
1          Don   250.0
2          Don    50.0
3          Don   100.0
4      Charles   100.0
5         Mike  1500.0
6      Rebecca   500.0
7      Brittni   250.0
8      John D.  1000.0
9      John D.  1300.0
10     John W.  1000.0
11     Rebecca  1000.0
12     Rebecca   200.0
13        R.D.  2300.0
14        Dale   250.0
15        John  2300.0
16      Robert   500.0
17      Robert   100.0
18     William    50.0
19        Omar  1000.0
20        Omar  1000.0
21       David  2300.0
22       David   250.0
23     Charles  1000.0
24        John   500.0
25       Steve    50.0
26       Steve    25.0
27       Bruce   100.0
28       Linda  2300.0
29       Linda -2300.0
..         ...     ...
145     THOMAS    50.0
146     WELDON   100.0
147     WELDON    50.0
148     GERALD   100.0
149     GERALD   100.0
150     ZAINUL   500.0
151      SYBIL    75.0
152      SYBIL    50.0
153     RONALD   200.0
154     RONALD   100.0
155     ROBERT   500.0
156       MIKE  1000.0
157      DAVID   200.0
158    PAULINE    35.0
159      MARIA  2600.0
160      PETER    25.0
161    SHIRLEY   150.0
162    CHARLES   300.0
163    CHARLES   410.0
164    CHARLES   500.0
165       JOHN   200.0
166    MARLING   100.0
167    RUDOLPH   100.0
168     RODNEY   500.0
169      DENIS   500.0
170    MERRILL   120.0
171     GEORGE   800.0
172      PETER    50.0
173      SALEM  1000.0
174      SALEM  1300.0

[175 rows x 2 columns]

#### 3. Select the last_name and first_name columns and drop duplicates.

In [33]:
dfcontr[['last_name', 'first_name']].drop_duplicates()

       last_name first_name
0           Agee     Steven
1         Ahrens        Don
4           Akin    Charles
5           Akin       Mike
6           Akin    Rebecca
7       Aldridge    Brittni
8          Allen    John D.
10       Allison    John W.
11       Allison    Rebecca
13         Altes       R.D.
14        Andres       Dale
15       Anthony       John
16      Arbogast     Robert
18         Ardle    William
19          Atiq       Omar
21         Baker      David
22      Bancroft      David
23         Banks    Charles
24        Barbee       John
25       Buckler      Steve
27      Buckheit      Bruce
28        Buckel      Linda
31          Buck     Thomas
32          Buck        Jay
33          Buck     Blaine
34          Buck    Barbara
36       Buchman     Mark M
37        Bucher        Ida
38      Buchanek  Elizabeth
39      Buchanan       John
..           ...        ...
131      ABSHIER      DIANA
132        ABREU      KEVIN
135   ABRAMOWITZ       NIRA
136       ABRAMS    MICHAEL
137   ABRAMOWITZ        KEN
138   ABOUBAKARE      NASAR
139        ABEGG   PATRICIA
145      ABDELLA     THOMAS
146       ABBOTT     WELDON
148       ABBOTT     GERALD
150       ABEDIN     ZAINUL
151       ABBOTT      SYBIL
153       ABBOTT     RONALD
155       ABBOTT     ROBERT
156       ABBOTT       MIKE
157        ABBOT      DAVID
158         ABBO    PAULINE
159        ABATE      MARIA
160        ABAIR      PETER
161    ABACHERLI    SHIRLEY
162       AARONS    CHARLES
165         ABEL       JOHN
166         ABEL    MARLING
167         ABEL    RUDOLPH
168        ABELE     RODNEY
169  ABERCROMBIE      DENIS
170     ABESHAUS    MERRILL
171      ABRAHAM     GEORGE
172   ABRAHAMSON      PETER
173      ABRAHAM      SALEM

[126 rows x 2 columns]

#### 4. Count how many there are after the duplicates have been dropped.

In [35]:
dfcontr[['last_name', 'first_name']].drop_duplicates().count()

last_name     126
first_name    126
dtype: int64

## Exercises
1. Create a name column for the contributors table with field entries of the form "last name, first name"
2. For contributors from the state of "PA", change the name to "X".
3. Delete the newly created name column.

#### 1. Create a name column for the contributors table with field entries of the form "last name, first name"

In [41]:
dfcontr['name'] = dfcontr['last_name'] + ", " + dfcontr['first_name']
dfcontr

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id,name
0,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16,"Agee, Steven"
1,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16,"Ahrens, Don"
2,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,50.0,2007-06-18,16,"Ahrens, Don"
3,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,100.0,2007-06-21,16,"Ahrens, Don"
4,Akin,Charles,NaN,10187 Sugar Creek Road,NaN,Bentonville,AR,72712,100.0,2007-06-16,16,"Akin, Charles"
5,Akin,Mike,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,1500.0,2007-05-18,16,"Akin, Mike"
6,Akin,Rebecca,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,500.0,2007-05-18,16,"Akin, Rebecca"
7,Aldridge,Brittni,NaN,"808 Capitol Square Place, SW",NaN,Washington,DC,20024,250.0,2007-06-06,16,"Aldridge, Brittni"
8,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1000.0,2007-06-11,16,"Allen, John D."
9,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1300.0,2007-06-29,16,"Allen, John D."
10,Allison,John W.,NaN,P.O. Box 1089,NaN,Conway,AR,72033,1000.0,2007-05-18,16,"Allison, John W."
11,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,1000.0,2007-04-25,16,"Allison, Rebecca"
12,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,200.0,2007-06-12,16,"Allison, Rebecca"
13,Altes,R.D.,NaN,8600 Moody Road,NaN,Fort Smith,AR,72903,2300.0,2007-06-21,16,"Altes, R.D."
14,Andres,Dale,NaN,1160 Glen Oaks Drive,NaN,West Des Moines,IA,50266,250.0,2007-06-06,16,"Andres, Dale"
15,Anthony,John,NaN,211 Long Island Drive,NaN,Hot Springs,AR,71913,2300.0,2007-06-12,16,"Anthony, John"
16,Arbogast,Robert,NaN,12900 State Route 56 SE,NaN,Mount Sterling,OH,43143,500.0,2007-04-08,16,"Arbogast, Robert"
17,Arbogast,Robert,NaN,12900 State Route 56 SE,NaN,Mount Sterling,OH,43143,100.0,2007-06-22,16,"Arbogast, Robert"
18,Ardle,William,NaN,412 Dakota Avenue,NaN,Springfield,OH,45504,50.0,2007-06-28,16,"Ardle, William"
19,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.0,2007-05-18,16,"Atiq, Omar"
20,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.0,2007-06-27,16,"Atiq, Omar"
21,Baker,David,NaN,2550 Adamsbrooke Drive,NaN,Conway,AR,72034,2300.0,2007-04-11,16,"Baker, David"
22,Bancroft,David,NaN,2934 Broderick Street,NaN,San Francisco,CA,94123,250.0,2007-04-24,16,"Bancroft, David"
23,Banks,Charles,NaN,P.O. Box 251310,NaN,Little Rock,AR,72225,1000.0,2007-05-14,16,"Banks, Charles"
24,Barbee,John,NaN,516 Kellyridge Drive,NaN,Apex,NC,27502,500.0,2007-05-23,16,"Barbee, John"
25,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,50.0,2007-07-30,20,"Buckler, Steve"
26,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,25.0,2007-08-16,20,"Buckler, Steve"
27,Buckheit,Bruce,NaN,8904 KAREN DR,NaN,FAIRFAX,VA,220312731,100.0,2007-09-19,20,"Buckheit, Bruce"
28,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,2300.0,2007-08-14,20,"Buckel, Linda"
29,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,-2300.0,2007-08-14,20,"Buckel, Linda"
...,...,...,...,...,...,...,...,...,...,...,...,...
145,ABDELLA,THOMAS,M.,4231 MONUMENT WALL WAY #340,NaN,FAIRFAX,VA,220308440,50.0,2007-09-30,35,"ABDELLA, THOMAS"
146,ABBOTT,WELDON,S.,777 EAST SOUTH TEMPLE 4E,NaN,SALT LAKE CITY,UT,841021269,100.0,2007-09-29,35,"ABBOTT, WELDON"
147,ABBOTT,WELDON,S.,777 EAST SOUTH TEMPLE 4E,NaN,SALT LAKE CITY,UT,841021269,50.0,2007-08-09,35,"ABBOTT, WELDON"
148,ABBOTT,GERALD,F.,389 BENEFIT STREET,NaN,PROVIDENCE,RI,29032946,100.0,2007-09-15,35,"ABBOTT, GERALD"
149,ABBOTT,GERALD,F.,389 BENEFIT STREET,NaN,PROVIDENCE,RI,29032946,100.0,2007-08-15,35,"ABBOTT, GERALD"
150,ABEDIN,ZAINUL,NaN,715 N. CENTRAL AVENUE,SUITE 212,GLENDALE,CA,912031164,500.0,2008-01-21,37,"ABEDIN, ZAINUL"
151,ABBOTT,SYBIL,F.,446 GAMES DRIVE,NaN,RENO,NV,895093326,75.0,2008-01-08,37,"ABBOTT, SYBIL"
152,ABBOTT,SYBIL,F.,446 GAMES DRIVE,NaN,RENO,NV,895093326,50.0,2008-01-08,37,"ABBOTT, SYBIL"
153,ABBOTT,RONALD,LEANDER,5453 HAWTHORNE STREET,NaN,MONTCLAIR,CA,917632551,200.0,2008-01-31,37,"ABBOTT, RONALD"
154,ABBOTT,RONALD,LEANDER,5453 HAWTHORNE STREET,NaN,MONTCLAIR,CA,917632551,100.0,2008-01-08,37,"ABBOTT, RONALD"
155,ABBOTT,ROBERT,A.,3061 LOREE ROAD,NaN,DECKERVILLE,MI,484279763,500.0,2008-01-21,37,"ABBOTT, ROBERT"
156,ABBOTT,MIKE,E.,4516 OSPREY LNDG,NaN,NICEVILLE,FL,325786810,1000.0,2008-01-15,37,"ABBOTT, MIKE"
157,ABBOT,DAVID,M.,56 SALEM STREET,NaN,ANDOVER,MA,18102114,200.0,2008-01-21,37,"ABBOT, DAVID"
158,ABBO,PAULINE,MORENCY,10720 JACOB LANE,NaN,WHITE LAKE,MI,483862274,35.0,2008-01-07,37,"ABBO, PAULINE"
159,ABATE,MARIA,ELENA,1291 NIGHTINGALE AVENUE,NaN,MIAMI SPRINGS,FL,331663832,2600.0,2008-01-25,37,"ABATE, MARIA"
160,ABAIR,PETER,NaN,40 EVANS STREET,NaN,WATERTOWN,MA,24722150,25.0,2008-01-09,37,"ABAIR, PETER"
161,ABACHERLI,SHIRLEY,M.,29875 NEWPORT ROAD,NaN,MENIFEE,CA,925849524,150.0,2008-01-28,37,"ABACHERLI, SHIRLEY"
162,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,300.0,2008-01-30,37,"AARONS, CHARLES"
163,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,410.0,2008-01-15,37,"AARONS, CHARLES"
164,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,500.0,2008-01-09,37,"AARONS, CHARLES"
165,ABEL,JOHN,H.,422 THOMAS STREET,NaN,BETHLEHEM,PA,180153316,200.0,2008-01-22,37,"ABEL, JOHN"
166,ABEL,MARLING,L.,14 HANGING MOSS LANE,NaN,GREENVILLE,SC,296155069,100.0,2008-01-22,37,"ABEL, MARLING"
167,ABEL,RUDOLPH,NaN,4532 OCEAN BLVD.,# 108,SARASOTA,FL,342421337,100.0,2008-01-08,37,"ABEL, RUDOLPH"
168,ABELE,RODNEY,NaN,3620 METAIRIE HEIGHTS AVENUE,NaN,METAIRIE,LA,700021823,500.0,2008-01-15,37,"ABELE, RODNEY"
169,ABERCROMBIE,DENIS,NaN,11811 WATER OAK CT,NaN,MAGNOLIA,TX,773546270,500.0,2008-01-30,37,"ABERCROMBIE, DENIS"
170,ABESHAUS,MERRILL,M.,1801 N. HEREFORD DRIVE,NaN,FLAGSTAFF,AZ,860011121,120.0,2008-01-16,37,"ABESHAUS, MERRILL"
171,ABRAHAM,GEORGE,NaN,P.O. BOX 1504,NaN,LAKE CHARLES,LA,706021504,800.0,2008-01-17,37,"ABRAHAM, GEORGE"
172,ABRAHAMSON,PETER,J.,1030 W. ROSCOE STREET,NaN,CHICAGO,IL,606572207,50.0,2008-01-25,37,"ABRAHAMSON, PETER"
173,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1000.0,2008-01-17,37,"ABRAHAM, SALEM"
174,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1300.0,2008-01-30,37,"ABRAHAM, SALEM"

#### 2. For contributors from the state of "PA", change the name to "X".

In [43]:
dfcontr.loc[dfcontr.state == "PA", "name"] = "X"
dfcontr

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id,name
0,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16,"Agee, Steven"
1,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16,"Ahrens, Don"
2,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,50.0,2007-06-18,16,"Ahrens, Don"
3,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,100.0,2007-06-21,16,"Ahrens, Don"
4,Akin,Charles,NaN,10187 Sugar Creek Road,NaN,Bentonville,AR,72712,100.0,2007-06-16,16,"Akin, Charles"
5,Akin,Mike,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,1500.0,2007-05-18,16,"Akin, Mike"
6,Akin,Rebecca,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,500.0,2007-05-18,16,"Akin, Rebecca"
7,Aldridge,Brittni,NaN,"808 Capitol Square Place, SW",NaN,Washington,DC,20024,250.0,2007-06-06,16,"Aldridge, Brittni"
8,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1000.0,2007-06-11,16,"Allen, John D."
9,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1300.0,2007-06-29,16,"Allen, John D."
10,Allison,John W.,NaN,P.O. Box 1089,NaN,Conway,AR,72033,1000.0,2007-05-18,16,"Allison, John W."
11,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,1000.0,2007-04-25,16,"Allison, Rebecca"
12,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,200.0,2007-06-12,16,"Allison, Rebecca"
13,Altes,R.D.,NaN,8600 Moody Road,NaN,Fort Smith,AR,72903,2300.0,2007-06-21,16,"Altes, R.D."
14,Andres,Dale,NaN,1160 Glen Oaks Drive,NaN,West Des Moines,IA,50266,250.0,2007-06-06,16,"Andres, Dale"
15,Anthony,John,NaN,211 Long Island Drive,NaN,Hot Springs,AR,71913,2300.0,2007-06-12,16,"Anthony, John"
16,Arbogast,Robert,NaN,12900 State Route 56 SE,NaN,Mount Sterling,OH,43143,500.0,2007-04-08,16,"Arbogast, Robert"
17,Arbogast,Robert,NaN,12900 State Route 56 SE,NaN,Mount Sterling,OH,43143,100.0,2007-06-22,16,"Arbogast, Robert"
18,Ardle,William,NaN,412 Dakota Avenue,NaN,Springfield,OH,45504,50.0,2007-06-28,16,"Ardle, William"
19,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.0,2007-05-18,16,"Atiq, Omar"
20,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.0,2007-06-27,16,"Atiq, Omar"
21,Baker,David,NaN,2550 Adamsbrooke Drive,NaN,Conway,AR,72034,2300.0,2007-04-11,16,"Baker, David"
22,Bancroft,David,NaN,2934 Broderick Street,NaN,San Francisco,CA,94123,250.0,2007-04-24,16,"Bancroft, David"
23,Banks,Charles,NaN,P.O. Box 251310,NaN,Little Rock,AR,72225,1000.0,2007-05-14,16,"Banks, Charles"
24,Barbee,John,NaN,516 Kellyridge Drive,NaN,Apex,NC,27502,500.0,2007-05-23,16,"Barbee, John"
25,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,50.0,2007-07-30,20,"Buckler, Steve"
26,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,25.0,2007-08-16,20,"Buckler, Steve"
27,Buckheit,Bruce,NaN,8904 KAREN DR,NaN,FAIRFAX,VA,220312731,100.0,2007-09-19,20,"Buckheit, Bruce"
28,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,2300.0,2007-08-14,20,"Buckel, Linda"
29,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,-2300.0,2007-08-14,20,"Buckel, Linda"
...,...,...,...,...,...,...,...,...,...,...,...,...
145,ABDELLA,THOMAS,M.,4231 MONUMENT WALL WAY #340,NaN,FAIRFAX,VA,220308440,50.0,2007-09-30,35,"ABDELLA, THOMAS"
146,ABBOTT,WELDON,S.,777 EAST SOUTH TEMPLE 4E,NaN,SALT LAKE CITY,UT,841021269,100.0,2007-09-29,35,"ABBOTT, WELDON"
147,ABBOTT,WELDON,S.,777 EAST SOUTH TEMPLE 4E,NaN,SALT LAKE CITY,UT,841021269,50.0,2007-08-09,35,"ABBOTT, WELDON"
148,ABBOTT,GERALD,F.,389 BENEFIT STREET,NaN,PROVIDENCE,RI,29032946,100.0,2007-09-15,35,"ABBOTT, GERALD"
149,ABBOTT,GERALD,F.,389 BENEFIT STREET,NaN,PROVIDENCE,RI,29032946,100.0,2007-08-15,35,"ABBOTT, GERALD"
150,ABEDIN,ZAINUL,NaN,715 N. CENTRAL AVENUE,SUITE 212,GLENDALE,CA,912031164,500.0,2008-01-21,37,"ABEDIN, ZAINUL"
151,ABBOTT,SYBIL,F.,446 GAMES DRIVE,NaN,RENO,NV,895093326,75.0,2008-01-08,37,"ABBOTT, SYBIL"
152,ABBOTT,SYBIL,F.,446 GAMES DRIVE,NaN,RENO,NV,895093326,50.0,2008-01-08,37,"ABBOTT, SYBIL"
153,ABBOTT,RONALD,LEANDER,5453 HAWTHORNE STREET,NaN,MONTCLAIR,CA,917632551,200.0,2008-01-31,37,"ABBOTT, RONALD"
154,ABBOTT,RONALD,LEANDER,5453 HAWTHORNE STREET,NaN,MONTCLAIR,CA,917632551,100.0,2008-01-08,37,"ABBOTT, RONALD"
155,ABBOTT,ROBERT,A.,3061 LOREE ROAD,NaN,DECKERVILLE,MI,484279763,500.0,2008-01-21,37,"ABBOTT, ROBERT"
156,ABBOTT,MIKE,E.,4516 OSPREY LNDG,NaN,NICEVILLE,FL,325786810,1000.0,2008-01-15,37,"ABBOTT, MIKE"
157,ABBOT,DAVID,M.,56 SALEM STREET,NaN,ANDOVER,MA,18102114,200.0,2008-01-21,37,"ABBOT, DAVID"
158,ABBO,PAULINE,MORENCY,10720 JACOB LANE,NaN,WHITE LAKE,MI,483862274,35.0,2008-01-07,37,"ABBO, PAULINE"
159,ABATE,MARIA,ELENA,1291 NIGHTINGALE AVENUE,NaN,MIAMI SPRINGS,FL,331663832,2600.0,2008-01-25,37,"ABATE, MARIA"
160,ABAIR,PETER,NaN,40 EVANS STREET,NaN,WATERTOWN,MA,24722150,25.0,2008-01-09,37,"ABAIR, PETER"
161,ABACHERLI,SHIRLEY,M.,29875 NEWPORT ROAD,NaN,MENIFEE,CA,925849524,150.0,2008-01-28,37,"ABACHERLI, SHIRLEY"
162,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,300.0,2008-01-30,37,"AARONS, CHARLES"
163,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,410.0,2008-01-15,37,"AARONS, CHARLES"
164,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,500.0,2008-01-09,37,"AARONS, CHARLES"
165,ABEL,JOHN,H.,422 THOMAS STREET,NaN,BETHLEHEM,PA,180153316,200.0,2008-01-22,37,X
166,ABEL,MARLING,L.,14 HANGING MOSS LANE,NaN,GREENVILLE,SC,296155069,100.0,2008-01-22,37,"ABEL, MARLING"
167,ABEL,RUDOLPH,NaN,4532 OCEAN BLVD.,# 108,SARASOTA,FL,342421337,100.0,2008-01-08,37,"ABEL, RUDOLPH"
168,ABELE,RODNEY,NaN,3620 METAIRIE HEIGHTS AVENUE,NaN,METAIRIE,LA,700021823,500.0,2008-01-15,37,"ABELE, RODNEY"
169,ABERCROMBIE,DENIS,NaN,11811 WATER OAK CT,NaN,MAGNOLIA,TX,773546270,500.0,2008-01-30,37,"ABERCROMBIE, DENIS"
170,ABESHAUS,MERRILL,M.,1801 N. HEREFORD DRIVE,NaN,FLAGSTAFF,AZ,860011121,120.0,2008-01-16,37,"ABESHAUS, MERRILL"
171,ABRAHAM,GEORGE,NaN,P.O. BOX 1504,NaN,LAKE CHARLES,LA,706021504,800.0,2008-01-17,37,"ABRAHAM, GEORGE"
172,ABRAHAMSON,PETER,J.,1030 W. ROSCOE STREET,NaN,CHICAGO,IL,606572207,50.0,2008-01-25,37,"ABRAHAMSON, PETER"
173,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1000.0,2008-01-17,37,"ABRAHAM, SALEM"
174,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1300.0,2008-01-30,37,"ABRAHAM, SALEM"

#### 3.Delete the newly created name column.

In [44]:
del dfcontr['name']
dfcontr

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
0,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16
1,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16
2,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,50.0,2007-06-18,16
3,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,100.0,2007-06-21,16
4,Akin,Charles,NaN,10187 Sugar Creek Road,NaN,Bentonville,AR,72712,100.0,2007-06-16,16
5,Akin,Mike,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,1500.0,2007-05-18,16
6,Akin,Rebecca,NaN,181 Baywood Lane,NaN,Monticello,AR,71655,500.0,2007-05-18,16
7,Aldridge,Brittni,NaN,"808 Capitol Square Place, SW",NaN,Washington,DC,20024,250.0,2007-06-06,16
8,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1000.0,2007-06-11,16
9,Allen,John D.,NaN,1052 Cannon Mill Drive,NaN,North Augusta,SC,29860,1300.0,2007-06-29,16
10,Allison,John W.,NaN,P.O. Box 1089,NaN,Conway,AR,72033,1000.0,2007-05-18,16
11,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,1000.0,2007-04-25,16
12,Allison,Rebecca,NaN,3206 Summit Court,NaN,Little Rock,AR,72227,200.0,2007-06-12,16
13,Altes,R.D.,NaN,8600 Moody Road,NaN,Fort Smith,AR,72903,2300.0,2007-06-21,16
14,Andres,Dale,NaN,1160 Glen Oaks Drive,NaN,West Des Moines,IA,50266,250.0,2007-06-06,16
15,Anthony,John,NaN,211 Long Island Drive,NaN,Hot Springs,AR,71913,2300.0,2007-06-12,16
16,Arbogast,Robert,NaN,12900 State Route 56 SE,NaN,Mount Sterling,OH,43143,500.0,2007-04-08,16
17,Arbogast,Robert,NaN,12900 State Route 56 SE,NaN,Mount Sterling,OH,43143,100.0,2007-06-22,16
18,Ardle,William,NaN,412 Dakota Avenue,NaN,Springfield,OH,45504,50.0,2007-06-28,16
19,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.0,2007-05-18,16
20,Atiq,Omar,NaN,7200 S Hazel Street,NaN,Pine Bluff,AR,71603,1000.0,2007-06-27,16
21,Baker,David,NaN,2550 Adamsbrooke Drive,NaN,Conway,AR,72034,2300.0,2007-04-11,16
22,Bancroft,David,NaN,2934 Broderick Street,NaN,San Francisco,CA,94123,250.0,2007-04-24,16
23,Banks,Charles,NaN,P.O. Box 251310,NaN,Little Rock,AR,72225,1000.0,2007-05-14,16
24,Barbee,John,NaN,516 Kellyridge Drive,NaN,Apex,NC,27502,500.0,2007-05-23,16
25,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,50.0,2007-07-30,20
26,Buckler,Steve,NaN,24351 Armada Dr,NaN,Dana Point,CA,926291306,25.0,2007-08-16,20
27,Buckheit,Bruce,NaN,8904 KAREN DR,NaN,FAIRFAX,VA,220312731,100.0,2007-09-19,20
28,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,2300.0,2007-08-14,20
29,Buckel,Linda,NaN,PO Box 683130,NaN,Park City,UT,840683130,-2300.0,2007-08-14,20
...,...,...,...,...,...,...,...,...,...,...,...
145,ABDELLA,THOMAS,M.,4231 MONUMENT WALL WAY #340,NaN,FAIRFAX,VA,220308440,50.0,2007-09-30,35
146,ABBOTT,WELDON,S.,777 EAST SOUTH TEMPLE 4E,NaN,SALT LAKE CITY,UT,841021269,100.0,2007-09-29,35
147,ABBOTT,WELDON,S.,777 EAST SOUTH TEMPLE 4E,NaN,SALT LAKE CITY,UT,841021269,50.0,2007-08-09,35
148,ABBOTT,GERALD,F.,389 BENEFIT STREET,NaN,PROVIDENCE,RI,29032946,100.0,2007-09-15,35
149,ABBOTT,GERALD,F.,389 BENEFIT STREET,NaN,PROVIDENCE,RI,29032946,100.0,2007-08-15,35
150,ABEDIN,ZAINUL,NaN,715 N. CENTRAL AVENUE,SUITE 212,GLENDALE,CA,912031164,500.0,2008-01-21,37
151,ABBOTT,SYBIL,F.,446 GAMES DRIVE,NaN,RENO,NV,895093326,75.0,2008-01-08,37
152,ABBOTT,SYBIL,F.,446 GAMES DRIVE,NaN,RENO,NV,895093326,50.0,2008-01-08,37
153,ABBOTT,RONALD,LEANDER,5453 HAWTHORNE STREET,NaN,MONTCLAIR,CA,917632551,200.0,2008-01-31,37
154,ABBOTT,RONALD,LEANDER,5453 HAWTHORNE STREET,NaN,MONTCLAIR,CA,917632551,100.0,2008-01-08,37
155,ABBOTT,ROBERT,A.,3061 LOREE ROAD,NaN,DECKERVILLE,MI,484279763,500.0,2008-01-21,37
156,ABBOTT,MIKE,E.,4516 OSPREY LNDG,NaN,NICEVILLE,FL,325786810,1000.0,2008-01-15,37
157,ABBOT,DAVID,M.,56 SALEM STREET,NaN,ANDOVER,MA,18102114,200.0,2008-01-21,37
158,ABBO,PAULINE,MORENCY,10720 JACOB LANE,NaN,WHITE LAKE,MI,483862274,35.0,2008-01-07,37
159,ABATE,MARIA,ELENA,1291 NIGHTINGALE AVENUE,NaN,MIAMI SPRINGS,FL,331663832,2600.0,2008-01-25,37
160,ABAIR,PETER,NaN,40 EVANS STREET,NaN,WATERTOWN,MA,24722150,25.0,2008-01-09,37
161,ABACHERLI,SHIRLEY,M.,29875 NEWPORT ROAD,NaN,MENIFEE,CA,925849524,150.0,2008-01-28,37
162,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,300.0,2008-01-30,37
163,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,410.0,2008-01-15,37
164,AARONS,CHARLES,NaN,1730 SHORE DRIVE,NaN,ANCHORAGE,AK,995153207,500.0,2008-01-09,37
165,ABEL,JOHN,H.,422 THOMAS STREET,NaN,BETHLEHEM,PA,180153316,200.0,2008-01-22,37
166,ABEL,MARLING,L.,14 HANGING MOSS LANE,NaN,GREENVILLE,SC,296155069,100.0,2008-01-22,37
167,ABEL,RUDOLPH,NaN,4532 OCEAN BLVD.,# 108,SARASOTA,FL,342421337,100.0,2008-01-08,37
168,ABELE,RODNEY,NaN,3620 METAIRIE HEIGHTS AVENUE,NaN,METAIRIE,LA,700021823,500.0,2008-01-15,37
169,ABERCROMBIE,DENIS,NaN,11811 WATER OAK CT,NaN,MAGNOLIA,TX,773546270,500.0,2008-01-30,37
170,ABESHAUS,MERRILL,M.,1801 N. HEREFORD DRIVE,NaN,FLAGSTAFF,AZ,860011121,120.0,2008-01-16,37
171,ABRAHAM,GEORGE,NaN,P.O. BOX 1504,NaN,LAKE CHARLES,LA,706021504,800.0,2008-01-17,37
172,ABRAHAMSON,PETER,J.,1030 W. ROSCOE STREET,NaN,CHICAGO,IL,606572207,50.0,2008-01-25,37
173,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1000.0,2008-01-17,37
174,ABRAHAM,SALEM,A.,P.O. BOX 7,NaN,CANADIAN,TX,790140007,1300.0,2008-01-30,37

## Exercise
Use the `describe()` method on the `contributors` table.

In [46]:
dfcontr.describe()

                zip       amount  candidate_id
count  1.750000e+02   175.000000    175.000000
mean   3.780014e+08     3.418114     28.000000
std    3.628278e+08  1028.418999      7.823484
min    2.474000e+03 -2592.000000     16.000000
25%    9.336700e+04  -175.000000     20.000000
50%    3.233313e+08   100.000000     32.000000
75%    7.816946e+08   300.000000     35.000000
max    9.951532e+08  4600.000000     37.000000